<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-m-event-title-effect-heading">Create or edit a M Event Title Effect</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_effectPath">Effect Path</label>
                    <textarea class="form-control" name="effectPath" id="field_effectPath"
                              formControlName="effectPath"></textarea>
                    <div *ngIf="editForm.get('effectPath').invalid && (editForm.get('effectPath').dirty || editForm.get('effectPath').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('effectPath').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_bgmSoundEvent">Bgm Sound Event</label>
                    <textarea class="form-control" name="bgmSoundEvent" id="field_bgmSoundEvent"
                              formControlName="bgmSoundEvent"></textarea>
                    <div *ngIf="editForm.get('bgmSoundEvent').invalid && (editForm.get('bgmSoundEvent').dirty || editForm.get('bgmSoundEvent').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('bgmSoundEvent').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_seSoundEvent">Se Sound Event</label>
                    <textarea class="form-control" name="seSoundEvent" id="field_seSoundEvent"
                              formControlName="seSoundEvent"></textarea>
                    <div *ngIf="editForm.get('seSoundEvent').invalid && (editForm.get('seSoundEvent').dirty || editForm.get('seSoundEvent').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('seSoundEvent').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_voiceSoundEventSuffixes">Voice Sound Event Suffixes</label>
                    <textarea class="form-control" name="voiceSoundEventSuffixes" id="field_voiceSoundEventSuffixes"
                              formControlName="voiceSoundEventSuffixes"></textarea>
                    <div *ngIf="editForm.get('voiceSoundEventSuffixes').invalid && (editForm.get('voiceSoundEventSuffixes').dirty || editForm.get('voiceSoundEventSuffixes').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('voiceSoundEventSuffixes').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_copyrightText">Copyright Text</label>
                    <textarea class="form-control" name="copyrightText" id="field_copyrightText"
                              formControlName="copyrightText"></textarea>
                    <div *ngIf="editForm.get('copyrightText').invalid && (editForm.get('copyrightText').dirty || editForm.get('copyrightText').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('copyrightText').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_startAt">Start At</label>
                    <input type="number" class="form-control" name="startAt" id="field_startAt"
                           formControlName="startAt"/>
                    <div *ngIf="editForm.get('startAt').invalid && (editForm.get('startAt').dirty || editForm.get('startAt').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('startAt').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('startAt')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_endAt">End At</label>
                    <input type="number" class="form-control" name="endAt" id="field_endAt"
                           formControlName="endAt"/>
                    <div *ngIf="editForm.get('endAt').invalid && (editForm.get('endAt').dirty || editForm.get('endAt').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('endAt').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('endAt')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
