<div>
    <h2 id="page-heading">
        <span>M Guild Effect Levels</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-m-guild-effect-level" [routerLink]="['/m-guild-effect-level/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new M Guild Effect Level
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mGuildEffectLevels">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="effectType"><span>Effect Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="level"><span>Level</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rate"><span>Rate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rateStr"><span>Rate Str</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="coin"><span>Coin</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="guildLevel"><span>Guild Level</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="guildMedal"><span>Guild Medal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mGuildEffectLevel of mGuildEffectLevels ;trackBy: trackId">
                <td><a [routerLink]="['/m-guild-effect-level', mGuildEffectLevel.id, 'view' ]">{{mGuildEffectLevel.id}}</a></td>
                <td>{{mGuildEffectLevel.effectType}}</td>
                <td>{{mGuildEffectLevel.level}}</td>
                <td>{{mGuildEffectLevel.rate}}</td>
                <td>{{mGuildEffectLevel.rateStr}}</td>
                <td>{{mGuildEffectLevel.coin}}</td>
                <td>{{mGuildEffectLevel.guildLevel}}</td>
                <td>{{mGuildEffectLevel.guildMedal}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/m-guild-effect-level', mGuildEffectLevel.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/m-guild-effect-level', mGuildEffectLevel.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'm-guild-effect-level', { outlets: { popup: mGuildEffectLevel.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mGuildEffectLevels && mGuildEffectLevels.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
