<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mAssetTagMapping">
            <h2><span>M Asset Tag Mapping</span> {{mAssetTagMapping.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Tag</span></dt>
                <dd>
                    <span>{{mAssetTagMapping.tag}}</span>
                </dd>
                <dt><span>Ids</span></dt>
                <dd>
                    <span>{{mAssetTagMapping.ids}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-asset-tag-mapping', mAssetTagMapping.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
