<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mExtensionSale">
            <h2><span>M Extension Sale</span> {{mExtensionSale.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Menu Message</span></dt>
                <dd>
                    <span>{{mExtensionSale.menuMessage}}</span>
                </dd>
                <dt><span>Start At</span></dt>
                <dd>
                    <span>{{mExtensionSale.startAt}}</span>
                </dd>
                <dt><span>End At</span></dt>
                <dd>
                    <span>{{mExtensionSale.endAt}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{mExtensionSale.type}}</span>
                </dd>
                <dt><span>Add Extension</span></dt>
                <dd>
                    <span>{{mExtensionSale.addExtension}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-extension-sale', mExtensionSale.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
