<div>
    <h2 id="page-heading">
        <span>M Dummy Opponents</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-m-dummy-opponent" [routerLink]="['/m-dummy-opponent/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new M Dummy Opponent
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="mDummyOpponents?.length === 0">
        <span>No mDummyOpponents found</span>
    </div>
    <div class="table-responsive" *ngIf="mDummyOpponents?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="npcDeckId"><span>Npc Deck Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalParameter"><span>Total Parameter</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rank"><span>Rank</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="emblemId"><span>Emblem Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fpUniformUpId"><span>Fp Uniform Up Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fpUniformUpColor"><span>Fp Uniform Up Color</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fpUniformBottomId"><span>Fp Uniform Bottom Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fpUniformBottomColor"><span>Fp Uniform Bottom Color</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gkUniformUpId"><span>Gk Uniform Up Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gkUniformUpColor"><span>Gk Uniform Up Color</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gkUniformBottomId"><span>Gk Uniform Bottom Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gkUniformBottomColor"><span>Gk Uniform Bottom Color</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idId"><span>Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mDummyOpponent of mDummyOpponents ;trackBy: trackId">
                <td><a [routerLink]="['/m-dummy-opponent', mDummyOpponent.id, 'view' ]">{{mDummyOpponent.id}}</a></td>
                <td>{{mDummyOpponent.npcDeckId}}</td>
                <td>{{mDummyOpponent.totalParameter}}</td>
                <td>{{mDummyOpponent.name}}</td>
                <td>{{mDummyOpponent.rank}}</td>
                <td>{{mDummyOpponent.emblemId}}</td>
                <td>{{mDummyOpponent.fpUniformUpId}}</td>
                <td>{{mDummyOpponent.fpUniformUpColor}}</td>
                <td>{{mDummyOpponent.fpUniformBottomId}}</td>
                <td>{{mDummyOpponent.fpUniformBottomColor}}</td>
                <td>{{mDummyOpponent.gkUniformUpId}}</td>
                <td>{{mDummyOpponent.gkUniformUpColor}}</td>
                <td>{{mDummyOpponent.gkUniformBottomId}}</td>
                <td>{{mDummyOpponent.gkUniformBottomColor}}</td>
                <td>
                    <div *ngIf="mDummyOpponent.idId">
                        <a [routerLink]="['../m-npc-deck', mDummyOpponent.idId , 'view' ]" >{{mDummyOpponent.idId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/m-dummy-opponent', mDummyOpponent.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/m-dummy-opponent', mDummyOpponent.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'm-dummy-opponent', { outlets: { popup: mDummyOpponent.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="mDummyOpponents?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
