<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mUniformUp">
            <h2><span>M Uniform Up</span> {{mUniformUp.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{mUniformUp.name}}</span>
                </dd>
                <dt><span>Short Name</span></dt>
                <dd>
                    <span>{{mUniformUp.shortName}}</span>
                </dd>
                <dt><span>Menu Name</span></dt>
                <dd>
                    <span>{{mUniformUp.menuName}}</span>
                </dd>
                <dt><span>Model Id</span></dt>
                <dd>
                    <span>{{mUniformUp.modelId}}</span>
                </dd>
                <dt><span>Thumbnail Asset Name</span></dt>
                <dd>
                    <span>{{mUniformUp.thumbnailAssetName}}</span>
                </dd>
                <dt><span>Uniform Type</span></dt>
                <dd>
                    <span>{{mUniformUp.uniformType}}</span>
                </dd>
                <dt><span>Is Default</span></dt>
                <dd>
                    <span>{{mUniformUp.isDefault}}</span>
                </dd>
                <dt><span>Order Num</span></dt>
                <dd>
                    <span>{{mUniformUp.orderNum}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{mUniformUp.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-uniform-up', mUniformUp.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
