<div>
    <h2 id="page-heading">
        <span>M Encounters Command Branches</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-m-encounters-command-branch" [routerLink]="['/m-encounters-command-branch/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new M Encounters Command Branch
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mEncountersCommandBranches">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ballFloatCondition"><span>Ball Float Condition</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="condition"><span>Condition</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="encountersType"><span>Encounters Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isSuccess"><span>Is Success</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="commandType"><span>Command Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="successRate"><span>Success Rate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="looseBallRate"><span>Loose Ball Rate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="touchLightlyRate"><span>Touch Lightly Rate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="postRate"><span>Post Rate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mEncountersCommandBranch of mEncountersCommandBranches ;trackBy: trackId">
                <td><a [routerLink]="['/m-encounters-command-branch', mEncountersCommandBranch.id, 'view' ]">{{mEncountersCommandBranch.id}}</a></td>
                <td>{{mEncountersCommandBranch.ballFloatCondition}}</td>
                <td>{{mEncountersCommandBranch.condition}}</td>
                <td>{{mEncountersCommandBranch.encountersType}}</td>
                <td>{{mEncountersCommandBranch.isSuccess}}</td>
                <td>{{mEncountersCommandBranch.commandType}}</td>
                <td>{{mEncountersCommandBranch.successRate}}</td>
                <td>{{mEncountersCommandBranch.looseBallRate}}</td>
                <td>{{mEncountersCommandBranch.touchLightlyRate}}</td>
                <td>{{mEncountersCommandBranch.postRate}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/m-encounters-command-branch', mEncountersCommandBranch.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/m-encounters-command-branch', mEncountersCommandBranch.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'm-encounters-command-branch', { outlets: { popup: mEncountersCommandBranch.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mEncountersCommandBranches && mEncountersCommandBranches.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
