<div>
    <h2 id="page-heading">
        <span>M Model Uniform Bottom Resources</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-m-model-uniform-bottom-resource" [routerLink]="['/m-model-uniform-bottom-resource/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new M Model Uniform Bottom Resource
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mModelUniformBottomResources">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="uniformTypeId"><span>Uniform Type Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dressingType"><span>Dressing Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="width"><span>Width</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mModelUniformBottomResource of mModelUniformBottomResources ;trackBy: trackId">
                <td><a [routerLink]="['/m-model-uniform-bottom-resource', mModelUniformBottomResource.id, 'view' ]">{{mModelUniformBottomResource.id}}</a></td>
                <td>{{mModelUniformBottomResource.uniformTypeId}}</td>
                <td>{{mModelUniformBottomResource.dressingType}}</td>
                <td>{{mModelUniformBottomResource.width}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/m-model-uniform-bottom-resource', mModelUniformBottomResource.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/m-model-uniform-bottom-resource', mModelUniformBottomResource.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'm-model-uniform-bottom-resource', { outlets: { popup: mModelUniformBottomResource.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mModelUniformBottomResources && mModelUniformBottomResources.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
