<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mModelUniformBottomResource">
            <h2><span>M Model Uniform Bottom Resource</span> {{mModelUniformBottomResource.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Uniform Type Id</span></dt>
                <dd>
                    <span>{{mModelUniformBottomResource.uniformTypeId}}</span>
                </dd>
                <dt><span>Dressing Type</span></dt>
                <dd>
                    <span>{{mModelUniformBottomResource.dressingType}}</span>
                </dd>
                <dt><span>Width</span></dt>
                <dd>
                    <span>{{mModelUniformBottomResource.width}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-model-uniform-bottom-resource', mModelUniformBottomResource.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
