<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mEmblemSet">
            <h2><span>M Emblem Set</span> {{mEmblemSet.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Asset Name</span></dt>
                <dd>
                    <span>{{mEmblemSet.assetName}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{mEmblemSet.name}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{mEmblemSet.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-emblem-set', mEmblemSet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
