<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mSceneTutorialMessage">
            <h2><span>M Scene Tutorial Message</span> {{mSceneTutorialMessage.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Target</span></dt>
                <dd>
                    <span>{{mSceneTutorialMessage.target}}</span>
                </dd>
                <dt><span>Order Num</span></dt>
                <dd>
                    <span>{{mSceneTutorialMessage.orderNum}}</span>
                </dd>
                <dt><span>Position</span></dt>
                <dd>
                    <span>{{mSceneTutorialMessage.position}}</span>
                </dd>
                <dt><span>Message</span></dt>
                <dd>
                    <span>{{mSceneTutorialMessage.message}}</span>
                </dd>
                <dt><span>Asset Name</span></dt>
                <dd>
                    <span>{{mSceneTutorialMessage.assetName}}</span>
                </dd>
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{mSceneTutorialMessage.title}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-scene-tutorial-message', mSceneTutorialMessage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
