<div>
    <h2 id="page-heading">
        <span>M Situation Announces</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-m-situation-announce" [routerLink]="['/m-situation-announce/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new M Situation Announce
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mSituationAnnounces">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="situationId"><span>Situation Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="groupId"><span>Group Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mSituationAnnounce of mSituationAnnounces ;trackBy: trackId">
                <td><a [routerLink]="['/m-situation-announce', mSituationAnnounce.id, 'view' ]">{{mSituationAnnounce.id}}</a></td>
                <td>{{mSituationAnnounce.situationId}}</td>
                <td>{{mSituationAnnounce.groupId}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/m-situation-announce', mSituationAnnounce.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/m-situation-announce', mSituationAnnounce.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'm-situation-announce', { outlets: { popup: mSituationAnnounce.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mSituationAnnounces && mSituationAnnounces.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
