<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-m-home-marquee-heading">Create or edit a M Home Marquee</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!mHomeMarquee.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_priority">Priority</label>
                    <input type="number" class="form-control" name="priority" id="field_priority"
                           formControlName="priority"/>
                    <div *ngIf="editForm.get('priority').invalid && (editForm.get('priority').dirty || editForm.get('priority').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('priority').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('priority')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_marqueeText">Marquee Text</label>
                    <textarea class="form-control" name="marqueeText" id="field_marqueeText"
                              formControlName="marqueeText"></textarea>
                    <div *ngIf="editForm.get('marqueeText').invalid && (editForm.get('marqueeText').dirty || editForm.get('marqueeText').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('marqueeText').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_startAt">Start At</label>
                    <input type="number" class="form-control" name="startAt" id="field_startAt"
                           formControlName="startAt"/>
                    <div *ngIf="editForm.get('startAt').invalid && (editForm.get('startAt').dirty || editForm.get('startAt').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('startAt').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('startAt')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_endAt">End At</label>
                    <input type="number" class="form-control" name="endAt" id="field_endAt"
                           formControlName="endAt"/>
                    <div *ngIf="editForm.get('endAt').invalid && (editForm.get('endAt').dirty || editForm.get('endAt').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('endAt').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('endAt')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
