<div>
    <h2 id="page-heading">
        <span>M Advent Quest Worlds</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-m-advent-quest-world" [routerLink]="['/m-advent-quest-world/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new M Advent Quest World
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="mAdventQuestWorlds?.length === 0">
        <span>No mAdventQuestWorlds found</span>
    </div>
    <div class="table-responsive" *ngIf="mAdventQuestWorlds?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="setId"><span>Set Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="number"><span>Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="symbolType"><span>Symbol Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imagePath"><span>Image Path</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span>Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stageUnlockPattern"><span>Stage Unlock Pattern</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="arousalBanner"><span>Arousal Banner</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="specialRewardContentType"><span>Special Reward Content Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="specialRewardContentId"><span>Special Reward Content Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isEnableCoop"><span>Is Enable Coop</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mAdventQuestWorld of mAdventQuestWorlds ;trackBy: trackId">
                <td><a [routerLink]="['/m-advent-quest-world', mAdventQuestWorld.id, 'view' ]">{{mAdventQuestWorld.id}}</a></td>
                <td>{{mAdventQuestWorld.setId}}</td>
                <td>{{mAdventQuestWorld.number}}</td>
                <td>{{mAdventQuestWorld.name}}</td>
                <td>{{mAdventQuestWorld.symbolType}}</td>
                <td>{{mAdventQuestWorld.imagePath}}</td>
                <td>{{mAdventQuestWorld.description}}</td>
                <td>{{mAdventQuestWorld.stageUnlockPattern}}</td>
                <td>{{mAdventQuestWorld.arousalBanner}}</td>
                <td>{{mAdventQuestWorld.specialRewardContentType}}</td>
                <td>{{mAdventQuestWorld.specialRewardContentId}}</td>
                <td>{{mAdventQuestWorld.isEnableCoop}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/m-advent-quest-world', mAdventQuestWorld.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/m-advent-quest-world', mAdventQuestWorld.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'm-advent-quest-world', { outlets: { popup: mAdventQuestWorld.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="mAdventQuestWorlds?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
