<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-m-marathon-loop-reward-heading">Create or edit a M Marathon Loop Reward</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!mMarathonLoopReward.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_eventId">Event Id</label>
                    <input type="number" class="form-control" name="eventId" id="field_eventId"
                           formControlName="eventId"/>
                    <div *ngIf="editForm.get('eventId').invalid && (editForm.get('eventId').dirty || editForm.get('eventId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('eventId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('eventId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_loopPoint">Loop Point</label>
                    <input type="number" class="form-control" name="loopPoint" id="field_loopPoint"
                           formControlName="loopPoint"/>
                    <div *ngIf="editForm.get('loopPoint').invalid && (editForm.get('loopPoint').dirty || editForm.get('loopPoint').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('loopPoint').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('loopPoint')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
