<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mMarathonLoopReward">
            <h2><span>M Marathon Loop Reward</span> {{mMarathonLoopReward.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Event Id</span></dt>
                <dd>
                    <span>{{mMarathonLoopReward.eventId}}</span>
                </dd>
                <dt><span>Loop Point</span></dt>
                <dd>
                    <span>{{mMarathonLoopReward.loopPoint}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-marathon-loop-reward', mMarathonLoopReward.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
