<div>
    <h2 id="page-heading">
        <span>M League Ranking Rewards</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-m-league-ranking-reward" [routerLink]="['/m-league-ranking-reward/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new M League Ranking Reward
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mLeagueRankingRewards">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="leagueHierarchy"><span>League Hierarchy</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rankTo"><span>Rank To</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rewardGroupId"><span>Reward Group Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startAt"><span>Start At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endAt"><span>End At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mLeagueRankingReward of mLeagueRankingRewards ;trackBy: trackId">
                <td><a [routerLink]="['/m-league-ranking-reward', mLeagueRankingReward.id, 'view' ]">{{mLeagueRankingReward.id}}</a></td>
                <td>{{mLeagueRankingReward.leagueHierarchy}}</td>
                <td>{{mLeagueRankingReward.rankTo}}</td>
                <td>{{mLeagueRankingReward.rewardGroupId}}</td>
                <td>{{mLeagueRankingReward.startAt}}</td>
                <td>{{mLeagueRankingReward.endAt}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/m-league-ranking-reward', mLeagueRankingReward.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/m-league-ranking-reward', mLeagueRankingReward.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'm-league-ranking-reward', { outlets: { popup: mLeagueRankingReward.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mLeagueRankingRewards && mLeagueRankingRewards.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
