<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mGuildTopBanner">
            <h2><span>M Guild Top Banner</span> {{mGuildTopBanner.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Asset Path</span></dt>
                <dd>
                    <span>{{mGuildTopBanner.assetPath}}</span>
                </dd>
                <dt><span>Guild Banner Type</span></dt>
                <dd>
                    <span>{{mGuildTopBanner.guildBannerType}}</span>
                </dd>
                <dt><span>Start At</span></dt>
                <dd>
                    <span>{{mGuildTopBanner.startAt}}</span>
                </dd>
                <dt><span>End At</span></dt>
                <dd>
                    <span>{{mGuildTopBanner.endAt}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-guild-top-banner', mGuildTopBanner.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
