<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mActionSkillHolderCardContent">
            <h2><span>M Action Skill Holder Card Content</span> {{mActionSkillHolderCardContent.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Target Chara Id</span></dt>
                <dd>
                    <span>{{mActionSkillHolderCardContent.targetCharaId}}</span>
                </dd>
                <dt><span>Action Master Id</span></dt>
                <dd>
                    <span>{{mActionSkillHolderCardContent.actionMasterId}}</span>
                </dd>
                <dt><span>Action Skill Exp</span></dt>
                <dd>
                    <span>{{mActionSkillHolderCardContent.actionSkillExp}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{mActionSkillHolderCardContent.name}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{mActionSkillHolderCardContent.description}}</span>
                </dd>
                <dt><span>Mcharacter</span></dt>
                <dd>
                    <div *ngIf="mActionSkillHolderCardContent.mcharacterId">
                        <a [routerLink]="['/m-character', mActionSkillHolderCardContent.mcharacterId, 'view']">{{mActionSkillHolderCardContent.mcharacterId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-action-skill-holder-card-content', mActionSkillHolderCardContent.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
