<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mAsset">
            <h2><span>M Asset</span> {{mAsset.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Asset Bundle Name</span></dt>
                <dd>
                    <span>{{mAsset.assetBundleName}}</span>
                </dd>
                <dt><span>Tag</span></dt>
                <dd>
                    <span>{{mAsset.tag}}</span>
                </dd>
                <dt><span>Dependencies</span></dt>
                <dd>
                    <span>{{mAsset.dependencies}}</span>
                </dd>
                <dt><span>I 18 N</span></dt>
                <dd>
                    <span>{{mAsset.i18n}}</span>
                </dd>
                <dt><span>Platform</span></dt>
                <dd>
                    <span>{{mAsset.platform}}</span>
                </dd>
                <dt><span>Pack Name</span></dt>
                <dd>
                    <span>{{mAsset.packName}}</span>
                </dd>
                <dt><span>Head</span></dt>
                <dd>
                    <span>{{mAsset.head}}</span>
                </dd>
                <dt><span>Size</span></dt>
                <dd>
                    <span>{{mAsset.size}}</span>
                </dd>
                <dt><span>Key 1</span></dt>
                <dd>
                    <span>{{mAsset.key1}}</span>
                </dd>
                <dt><span>Key 2</span></dt>
                <dd>
                    <span>{{mAsset.key2}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-asset', mAsset.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
