<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mArousalMaterial">
            <h2><span>M Arousal Material</span> {{mArousalMaterial.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Group Id</span></dt>
                <dd>
                    <span>{{mArousalMaterial.groupId}}</span>
                </dd>
                <dt><span>Content Type</span></dt>
                <dd>
                    <span>{{mArousalMaterial.contentType}}</span>
                </dd>
                <dt><span>Content Id</span></dt>
                <dd>
                    <span>{{mArousalMaterial.contentId}}</span>
                </dd>
                <dt><span>Content Amount</span></dt>
                <dd>
                    <span>{{mArousalMaterial.contentAmount}}</span>
                </dd>
                <dt><span>Main Action Level</span></dt>
                <dd>
                    <span>{{mArousalMaterial.mainActionLevel}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{mArousalMaterial.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-arousal-material', mArousalMaterial.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
