<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mPvpPlayerStamp">
            <h2><span>M Pvp Player Stamp</span> {{mPvpPlayerStamp.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Order Num</span></dt>
                <dd>
                    <span>{{mPvpPlayerStamp.orderNum}}</span>
                </dd>
                <dt><span>Master Id</span></dt>
                <dd>
                    <span>{{mPvpPlayerStamp.masterId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-pvp-player-stamp', mPvpPlayerStamp.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
