<div>
    <h2 id="page-heading">
        <span>M Home Banners</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-m-home-banner" [routerLink]="['/m-home-banner/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new M Home Banner
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mHomeBanners">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bannerType"><span>Banner Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="assetName"><span>Asset Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startAt"><span>Start At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endAt"><span>End At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="labelEndAt"><span>Label End At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sceneTransition"><span>Scene Transition</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sceneTransitionParam"><span>Scene Transition Param</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderNum"><span>Order Num</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="appealType"><span>Appeal Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="appealContentId"><span>Appeal Content Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mHomeBanner of mHomeBanners ;trackBy: trackId">
                <td><a [routerLink]="['/m-home-banner', mHomeBanner.id, 'view' ]">{{mHomeBanner.id}}</a></td>
                <td>{{mHomeBanner.bannerType}}</td>
                <td>{{mHomeBanner.assetName}}</td>
                <td>{{mHomeBanner.startAt}}</td>
                <td>{{mHomeBanner.endAt}}</td>
                <td>{{mHomeBanner.labelEndAt}}</td>
                <td>{{mHomeBanner.sceneTransition}}</td>
                <td>{{mHomeBanner.sceneTransitionParam}}</td>
                <td>{{mHomeBanner.orderNum}}</td>
                <td>{{mHomeBanner.appealType}}</td>
                <td>{{mHomeBanner.appealContentId}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/m-home-banner', mHomeBanner.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/m-home-banner', mHomeBanner.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'm-home-banner', { outlets: { popup: mHomeBanner.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mHomeBanners && mHomeBanners.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
