<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-m-target-action-group-heading">Create or edit a M Target Action Group</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!mTargetActionGroup.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_groupId">Group Id</label>
                    <input type="number" class="form-control" name="groupId" id="field_groupId"
                           formControlName="groupId"/>
                    <div *ngIf="editForm.get('groupId').invalid && (editForm.get('groupId').dirty || editForm.get('groupId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('groupId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('groupId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_actionId">Action Id</label>
                    <input type="number" class="form-control" name="actionId" id="field_actionId"
                           formControlName="actionId"/>
                    <div *ngIf="editForm.get('actionId').invalid && (editForm.get('actionId').dirty || editForm.get('actionId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('actionId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('actionId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_maction">Maction</label>
                    <select class="form-control" id="field_maction" name="maction" formControlName="mactionId">
                        <option *ngIf="!editForm.get('maction').value" [ngValue]="null" selected></option>
                        <option [ngValue]="mActionOption.id" *ngFor="let mActionOption of mactions; trackBy: trackMActionById">{{mActionOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('maction').invalid && (editForm.get('maction').dirty || editForm.get('maction').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('maction').errors.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
