<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mGuerillaQuestWorld">
            <h2><span>M Guerilla Quest World</span> {{mGuerillaQuestWorld.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Set Id</span></dt>
                <dd>
                    <span>{{mGuerillaQuestWorld.setId}}</span>
                </dd>
                <dt><span>Number</span></dt>
                <dd>
                    <span>{{mGuerillaQuestWorld.number}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{mGuerillaQuestWorld.name}}</span>
                </dd>
                <dt><span>Image Path</span></dt>
                <dd>
                    <span>{{mGuerillaQuestWorld.imagePath}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{mGuerillaQuestWorld.description}}</span>
                </dd>
                <dt><span>Stage Unlock Pattern</span></dt>
                <dd>
                    <span>{{mGuerillaQuestWorld.stageUnlockPattern}}</span>
                </dd>
                <dt><span>Arousal Banner</span></dt>
                <dd>
                    <span>{{mGuerillaQuestWorld.arousalBanner}}</span>
                </dd>
                <dt><span>Special Reward Content Type</span></dt>
                <dd>
                    <span>{{mGuerillaQuestWorld.specialRewardContentType}}</span>
                </dd>
                <dt><span>Special Reward Content Id</span></dt>
                <dd>
                    <span>{{mGuerillaQuestWorld.specialRewardContentId}}</span>
                </dd>
                <dt><span>Is Enable Coop</span></dt>
                <dd>
                    <span>{{mGuerillaQuestWorld.isEnableCoop}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-guerilla-quest-world', mGuerillaQuestWorld.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
