<div>
    <h2 id="page-heading">
        <span>M Marathon Quest Tsubasa Point Rewards</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-m-marathon-quest-tsubasa-point-reward" [routerLink]="['/m-marathon-quest-tsubasa-point-reward/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new M Marathon Quest Tsubasa Point Reward
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mMarathonQuestTsubasaPointRewards">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stageId"><span>Stage Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tsubasaPoint"><span>Tsubasa Point</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contentType"><span>Content Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contentId"><span>Content Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contentAmount"><span>Content Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mMarathonQuestTsubasaPointReward of mMarathonQuestTsubasaPointRewards ;trackBy: trackId">
                <td><a [routerLink]="['/m-marathon-quest-tsubasa-point-reward', mMarathonQuestTsubasaPointReward.id, 'view' ]">{{mMarathonQuestTsubasaPointReward.id}}</a></td>
                <td>{{mMarathonQuestTsubasaPointReward.stageId}}</td>
                <td>{{mMarathonQuestTsubasaPointReward.tsubasaPoint}}</td>
                <td>{{mMarathonQuestTsubasaPointReward.contentType}}</td>
                <td>{{mMarathonQuestTsubasaPointReward.contentId}}</td>
                <td>{{mMarathonQuestTsubasaPointReward.contentAmount}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/m-marathon-quest-tsubasa-point-reward', mMarathonQuestTsubasaPointReward.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/m-marathon-quest-tsubasa-point-reward', mMarathonQuestTsubasaPointReward.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'm-marathon-quest-tsubasa-point-reward', { outlets: { popup: mMarathonQuestTsubasaPointReward.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mMarathonQuestTsubasaPointRewards && mMarathonQuestTsubasaPointRewards.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
