<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-m-challenge-quest-achievement-reward-heading">Create or edit a M Challenge Quest Achievement Reward</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!mChallengeQuestAchievementReward.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_worldId">World Id</label>
                    <input type="number" class="form-control" name="worldId" id="field_worldId"
                           formControlName="worldId"/>
                    <div *ngIf="editForm.get('worldId').invalid && (editForm.get('worldId').dirty || editForm.get('worldId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('worldId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('worldId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_stageId">Stage Id</label>
                    <input type="number" class="form-control" name="stageId" id="field_stageId"
                           formControlName="stageId"/>
                    <div *ngIf="editForm.get('stageId').invalid && (editForm.get('stageId').dirty || editForm.get('stageId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('stageId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('stageId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rewardGroupId">Reward Group Id</label>
                    <input type="number" class="form-control" name="rewardGroupId" id="field_rewardGroupId"
                           formControlName="rewardGroupId"/>
                    <div *ngIf="editForm.get('rewardGroupId').invalid && (editForm.get('rewardGroupId').dirty || editForm.get('rewardGroupId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('rewardGroupId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('rewardGroupId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
