<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mLeagueEffect">
            <h2><span>M League Effect</span> {{mLeagueEffect.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Effect Type</span></dt>
                <dd>
                    <span>{{mLeagueEffect.effectType}}</span>
                </dd>
                <dt><span>League Hierarchy</span></dt>
                <dd>
                    <span>{{mLeagueEffect.leagueHierarchy}}</span>
                </dd>
                <dt><span>Rate</span></dt>
                <dd>
                    <span>{{mLeagueEffect.rate}}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{mLeagueEffect.price}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-league-effect', mLeagueEffect.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
