<div>
    <h2 id="page-heading">
        <span>M Stage Stories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-m-stage-story" [routerLink]="['/m-stage-story/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new M Stage Story
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mStageStories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stageId"><span>Stage Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="eventType"><span>Event Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mainStoryAsset"><span>Main Story Asset</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="kickoffStoryAsset"><span>Kickoff Story Asset</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="halftimeStoryAsset"><span>Halftime Story Asset</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="resultStoryAsset"><span>Result Story Asset</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mStageStory of mStageStories ;trackBy: trackId">
                <td><a [routerLink]="['/m-stage-story', mStageStory.id, 'view' ]">{{mStageStory.id}}</a></td>
                <td>{{mStageStory.stageId}}</td>
                <td>{{mStageStory.eventType}}</td>
                <td>{{mStageStory.mainStoryAsset}}</td>
                <td>{{mStageStory.kickoffStoryAsset}}</td>
                <td>{{mStageStory.halftimeStoryAsset}}</td>
                <td>{{mStageStory.resultStoryAsset}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/m-stage-story', mStageStory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/m-stage-story', mStageStory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'm-stage-story', { outlets: { popup: mStageStory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mStageStories && mStageStories.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
