<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mMarathonEffectiveCard">
            <h2><span>M Marathon Effective Card</span> {{mMarathonEffectiveCard.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Event Id</span></dt>
                <dd>
                    <span>{{mMarathonEffectiveCard.eventId}}</span>
                </dd>
                <dt><span>Playable Card Id</span></dt>
                <dd>
                    <span>{{mMarathonEffectiveCard.playableCardId}}</span>
                </dd>
                <dt><span>Rate</span></dt>
                <dd>
                    <span>{{mMarathonEffectiveCard.rate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-marathon-effective-card', mMarathonEffectiveCard.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
