<div>
    <h2 id="page-heading">
        <span>M Init User Decks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-m-init-user-deck" [routerLink]="['/m-init-user-deck/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new M Init User Deck
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mInitUserDecks">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deckId"><span>Deck Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="formationId"><span>Formation Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="captainCardId"><span>Captain Card Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gkCardId"><span>Gk Card Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fp1CardId"><span>Fp 1 Card Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fp2CardId"><span>Fp 2 Card Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fp3CardId"><span>Fp 3 Card Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fp4CardId"><span>Fp 4 Card Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fp5CardId"><span>Fp 5 Card Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fp6CardId"><span>Fp 6 Card Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fp7CardId"><span>Fp 7 Card Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fp8CardId"><span>Fp 8 Card Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fp9CardId"><span>Fp 9 Card Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fp10CardId"><span>Fp 10 Card Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sub1CardId"><span>Sub 1 Card Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sub2CardId"><span>Sub 2 Card Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sub3CardId"><span>Sub 3 Card Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sub4CardId"><span>Sub 4 Card Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sub5CardId"><span>Sub 5 Card Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="teamEffect1CardId"><span>Team Effect 1 Card Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="teamEffect2CardId"><span>Team Effect 2 Card Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="teamEffect3CardId"><span>Team Effect 3 Card Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mInitUserDeck of mInitUserDecks ;trackBy: trackId">
                <td><a [routerLink]="['/m-init-user-deck', mInitUserDeck.id, 'view' ]">{{mInitUserDeck.id}}</a></td>
                <td>{{mInitUserDeck.deckId}}</td>
                <td>{{mInitUserDeck.name}}</td>
                <td>{{mInitUserDeck.formationId}}</td>
                <td>{{mInitUserDeck.captainCardId}}</td>
                <td>{{mInitUserDeck.gkCardId}}</td>
                <td>{{mInitUserDeck.fp1CardId}}</td>
                <td>{{mInitUserDeck.fp2CardId}}</td>
                <td>{{mInitUserDeck.fp3CardId}}</td>
                <td>{{mInitUserDeck.fp4CardId}}</td>
                <td>{{mInitUserDeck.fp5CardId}}</td>
                <td>{{mInitUserDeck.fp6CardId}}</td>
                <td>{{mInitUserDeck.fp7CardId}}</td>
                <td>{{mInitUserDeck.fp8CardId}}</td>
                <td>{{mInitUserDeck.fp9CardId}}</td>
                <td>{{mInitUserDeck.fp10CardId}}</td>
                <td>{{mInitUserDeck.sub1CardId}}</td>
                <td>{{mInitUserDeck.sub2CardId}}</td>
                <td>{{mInitUserDeck.sub3CardId}}</td>
                <td>{{mInitUserDeck.sub4CardId}}</td>
                <td>{{mInitUserDeck.sub5CardId}}</td>
                <td>{{mInitUserDeck.teamEffect1CardId}}</td>
                <td>{{mInitUserDeck.teamEffect2CardId}}</td>
                <td>{{mInitUserDeck.teamEffect3CardId}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/m-init-user-deck', mInitUserDeck.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/m-init-user-deck', mInitUserDeck.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'm-init-user-deck', { outlets: { popup: mInitUserDeck.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mInitUserDecks && mInitUserDecks.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
