<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-m-combination-cut-position-heading">Create or edit a M Combination Cut Position</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_actionCutId">Action Cut Id</label>
                    <input type="number" class="form-control" name="actionCutId" id="field_actionCutId"
                           formControlName="actionCutId"/>
                    <div *ngIf="editForm.get('actionCutId').invalid && (editForm.get('actionCutId').dirty || editForm.get('actionCutId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('actionCutId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('actionCutId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_characterId">Character Id</label>
                    <input type="number" class="form-control" name="characterId" id="field_characterId"
                           formControlName="characterId"/>
                    <div *ngIf="editForm.get('characterId').invalid && (editForm.get('characterId').dirty || editForm.get('characterId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('characterId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('characterId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_activatorPosition">Activator Position</label>
                    <input type="number" class="form-control" name="activatorPosition" id="field_activatorPosition"
                           formControlName="activatorPosition"/>
                    <div *ngIf="editForm.get('activatorPosition').invalid && (editForm.get('activatorPosition').dirty || editForm.get('activatorPosition').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('activatorPosition').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('activatorPosition')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_participantPosition1">Participant Position 1</label>
                    <input type="number" class="form-control" name="participantPosition1" id="field_participantPosition1"
                           formControlName="participantPosition1"/>
                    <div *ngIf="editForm.get('participantPosition1').invalid && (editForm.get('participantPosition1').dirty || editForm.get('participantPosition1').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('participantPosition1').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('participantPosition1')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_participantPosition2">Participant Position 2</label>
                    <input type="number" class="form-control" name="participantPosition2" id="field_participantPosition2"
                           formControlName="participantPosition2"/>
                    <div *ngIf="editForm.get('participantPosition2').invalid && (editForm.get('participantPosition2').dirty || editForm.get('participantPosition2').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('participantPosition2').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('participantPosition2')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_participantPosition3">Participant Position 3</label>
                    <input type="number" class="form-control" name="participantPosition3" id="field_participantPosition3"
                           formControlName="participantPosition3"/>
                    <div *ngIf="editForm.get('participantPosition3').invalid && (editForm.get('participantPosition3').dirty || editForm.get('participantPosition3').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('participantPosition3').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('participantPosition3')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_participantPosition4">Participant Position 4</label>
                    <input type="number" class="form-control" name="participantPosition4" id="field_participantPosition4"
                           formControlName="participantPosition4"/>
                    <div *ngIf="editForm.get('participantPosition4').invalid && (editForm.get('participantPosition4').dirty || editForm.get('participantPosition4').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('participantPosition4').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('participantPosition4')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_participantPosition5">Participant Position 5</label>
                    <input type="number" class="form-control" name="participantPosition5" id="field_participantPosition5"
                           formControlName="participantPosition5"/>
                    <div *ngIf="editForm.get('participantPosition5').invalid && (editForm.get('participantPosition5').dirty || editForm.get('participantPosition5').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('participantPosition5').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('participantPosition5')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_id">Id</label>
                    <select class="form-control" id="field_id" name="id" formControlName="idId">
                        <option *ngIf="!editForm.get('idId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="mCharacterOption.id" *ngFor="let mCharacterOption of mcharacters; trackBy: trackMCharacterById">{{mCharacterOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('idId').invalid && (editForm.get('idId').dirty || editForm.get('idId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('idId').errors.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
