<div>
    <h2 id="page-heading">
        <span>M Model Cards</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-m-model-card" [routerLink]="['/m-model-card/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new M Model Card
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mModelCards">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="hairModel"><span>Hair Model</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="hairTexture"><span>Hair Texture</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="headModel"><span>Head Model</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="headTexture"><span>Head Texture</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="skinTexture"><span>Skin Texture</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shoesModel"><span>Shoes Model</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shoesTexture"><span>Shoes Texture</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="globeTexture"><span>Globe Texture</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="uniqueModel"><span>Unique Model</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="uniqueTexture"><span>Unique Texture</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dressingTypeUp"><span>Dressing Type Up</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dressingTypeBottom"><span>Dressing Type Bottom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="height"><span>Height</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="width"><span>Width</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mModelCard of mModelCards ;trackBy: trackId">
                <td><a [routerLink]="['/m-model-card', mModelCard.id, 'view' ]">{{mModelCard.id}}</a></td>
                <td>{{mModelCard.hairModel}}</td>
                <td>{{mModelCard.hairTexture}}</td>
                <td>{{mModelCard.headModel}}</td>
                <td>{{mModelCard.headTexture}}</td>
                <td>{{mModelCard.skinTexture}}</td>
                <td>{{mModelCard.shoesModel}}</td>
                <td>{{mModelCard.shoesTexture}}</td>
                <td>{{mModelCard.globeTexture}}</td>
                <td>{{mModelCard.uniqueModel}}</td>
                <td>{{mModelCard.uniqueTexture}}</td>
                <td>{{mModelCard.dressingTypeUp}}</td>
                <td>{{mModelCard.dressingTypeBottom}}</td>
                <td>{{mModelCard.height}}</td>
                <td>{{mModelCard.width}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/m-model-card', mModelCard.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/m-model-card', mModelCard.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'm-model-card', { outlets: { popup: mModelCard.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mModelCards && mModelCards.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
