<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mGuildLevel">
            <h2><span>M Guild Level</span> {{mGuildLevel.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Level</span></dt>
                <dd>
                    <span>{{mGuildLevel.level}}</span>
                </dd>
                <dt><span>Exp</span></dt>
                <dd>
                    <span>{{mGuildLevel.exp}}</span>
                </dd>
                <dt><span>Member Count</span></dt>
                <dd>
                    <span>{{mGuildLevel.memberCount}}</span>
                </dd>
                <dt><span>Recommend Member Count</span></dt>
                <dd>
                    <span>{{mGuildLevel.recommendMemberCount}}</span>
                </dd>
                <dt><span>Guild Medal</span></dt>
                <dd>
                    <span>{{mGuildLevel.guildMedal}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-guild-level', mGuildLevel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
