<div>
    <h2 id="page-heading">
        <span>M Trigger Effect Bases</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-m-trigger-effect-base" [routerLink]="['/m-trigger-effect-base/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new M Trigger Effect Base
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mTriggerEffectBases">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rarity"><span>Rarity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="effectValue"><span>Effect Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="triggerProbability"><span>Trigger Probability</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="targetCardParameter"><span>Target Card Parameter</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="effectId"><span>Effect Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span>Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mtriggereffectrangeId"><span>Mtriggereffectrange</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mTriggerEffectBase of mTriggerEffectBases ;trackBy: trackId">
                <td><a [routerLink]="['/m-trigger-effect-base', mTriggerEffectBase.id, 'view' ]">{{mTriggerEffectBase.id}}</a></td>
                <td>{{mTriggerEffectBase.name}}</td>
                <td>{{mTriggerEffectBase.rarity}}</td>
                <td>{{mTriggerEffectBase.effectValue}}</td>
                <td>{{mTriggerEffectBase.triggerProbability}}</td>
                <td>{{mTriggerEffectBase.targetCardParameter}}</td>
                <td>{{mTriggerEffectBase.effectId}}</td>
                <td>{{mTriggerEffectBase.description}}</td>
                <td>
                    <div *ngIf="mTriggerEffectBase.mtriggereffectrangeId">
                        <a [routerLink]="['../m-trigger-effect-range', mTriggerEffectBase.mtriggereffectrangeId , 'view' ]" >{{mTriggerEffectBase.mtriggereffectrangeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/m-trigger-effect-base', mTriggerEffectBase.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/m-trigger-effect-base', mTriggerEffectBase.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'm-trigger-effect-base', { outlets: { popup: mTriggerEffectBase.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mTriggerEffectBases && mTriggerEffectBases.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
