<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-m-trigger-effect-base-heading">Create or edit a M Trigger Effect Base</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!mTriggerEffectBase.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <textarea class="form-control" name="name" id="field_name"
                              formControlName="name"></textarea>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rarity">Rarity</label>
                    <input type="number" class="form-control" name="rarity" id="field_rarity"
                           formControlName="rarity"/>
                    <div *ngIf="editForm.get('rarity').invalid && (editForm.get('rarity').dirty || editForm.get('rarity').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('rarity').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('rarity')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_effectValue">Effect Value</label>
                    <input type="number" class="form-control" name="effectValue" id="field_effectValue"
                           formControlName="effectValue"/>
                    <div *ngIf="editForm.get('effectValue').invalid && (editForm.get('effectValue').dirty || editForm.get('effectValue').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('effectValue').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('effectValue')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_triggerProbability">Trigger Probability</label>
                    <input type="number" class="form-control" name="triggerProbability" id="field_triggerProbability"
                           formControlName="triggerProbability"/>
                    <div *ngIf="editForm.get('triggerProbability').invalid && (editForm.get('triggerProbability').dirty || editForm.get('triggerProbability').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('triggerProbability').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('triggerProbability')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_targetCardParameter">Target Card Parameter</label>
                    <input type="number" class="form-control" name="targetCardParameter" id="field_targetCardParameter"
                           formControlName="targetCardParameter"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_effectId">Effect Id</label>
                    <input type="number" class="form-control" name="effectId" id="field_effectId"
                           formControlName="effectId"/>
                    <div *ngIf="editForm.get('effectId').invalid && (editForm.get('effectId').dirty || editForm.get('effectId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('effectId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('effectId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                              formControlName="description"></textarea>
                    <div *ngIf="editForm.get('description').invalid && (editForm.get('description').dirty || editForm.get('description').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_id">Id</label>
                    <select class="form-control" id="field_id" name="id" formControlName="idId">
                        <option *ngIf="!editForm.get('id').value" [ngValue]="null" selected></option>
                        <option [ngValue]="mTriggerEffectRangeOption.id" *ngFor="let mTriggerEffectRangeOption of mtriggereffectranges; trackBy: trackMTriggerEffectRangeById">{{mTriggerEffectRangeOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('id').invalid && (editForm.get('id').dirty || editForm.get('id').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('id').errors.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
