<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-m-sell-card-coin-heading">Create or edit a M Sell Card Coin</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!mSellCardCoin.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_groupNum">Group Num</label>
                    <input type="number" class="form-control" name="groupNum" id="field_groupNum"
                           formControlName="groupNum"/>
                    <div *ngIf="editForm.get('groupNum').invalid && (editForm.get('groupNum').dirty || editForm.get('groupNum').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('groupNum').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('groupNum')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_level">Level</label>
                    <input type="number" class="form-control" name="level" id="field_level"
                           formControlName="level"/>
                    <div *ngIf="editForm.get('level').invalid && (editForm.get('level').dirty || editForm.get('level').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('level').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('level')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_coin">Coin</label>
                    <input type="number" class="form-control" name="coin" id="field_coin"
                           formControlName="coin"/>
                    <div *ngIf="editForm.get('coin').invalid && (editForm.get('coin').dirty || editForm.get('coin').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('coin').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('coin')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
