<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mMedal">
            <h2><span>M Medal</span> {{mMedal.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Medal Type</span></dt>
                <dd>
                    <span>{{mMedal.medalType}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{mMedal.name}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{mMedal.description}}</span>
                </dd>
                <dt><span>Max Amount</span></dt>
                <dd>
                    <span>{{mMedal.maxAmount}}</span>
                </dd>
                <dt><span>Icon Asset Name</span></dt>
                <dd>
                    <span>{{mMedal.iconAssetName}}</span>
                </dd>
                <dt><span>Thumbnail Asset Name</span></dt>
                <dd>
                    <span>{{mMedal.thumbnailAssetName}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-medal', mMedal.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
