<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mCharacterScoreCut">
            <h2><span>M Character Score Cut</span> {{mCharacterScoreCut.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Character Id</span></dt>
                <dd>
                    <span>{{mCharacterScoreCut.characterId}}</span>
                </dd>
                <dt><span>Team Id</span></dt>
                <dd>
                    <span>{{mCharacterScoreCut.teamId}}</span>
                </dd>
                <dt><span>Score Cut Type</span></dt>
                <dd>
                    <span>{{mCharacterScoreCut.scoreCutType}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-character-score-cut', mCharacterScoreCut.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
