<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-m-goal-effective-card-heading">Create or edit a M Goal Effective Card</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!mGoalEffectiveCard.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_eventType">Event Type</label>
                    <input type="number" class="form-control" name="eventType" id="field_eventType"
                           formControlName="eventType"/>
                    <div *ngIf="editForm.get('eventType').invalid && (editForm.get('eventType').dirty || editForm.get('eventType').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('eventType').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('eventType')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_eventId">Event Id</label>
                    <input type="number" class="form-control" name="eventId" id="field_eventId"
                           formControlName="eventId"/>
                    <div *ngIf="editForm.get('eventId').invalid && (editForm.get('eventId').dirty || editForm.get('eventId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('eventId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('eventId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_playableCardId">Playable Card Id</label>
                    <input type="number" class="form-control" name="playableCardId" id="field_playableCardId"
                           formControlName="playableCardId"/>
                    <div *ngIf="editForm.get('playableCardId').invalid && (editForm.get('playableCardId').dirty || editForm.get('playableCardId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('playableCardId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('playableCardId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rate">Rate</label>
                    <input type="number" class="form-control" name="rate" id="field_rate"
                           formControlName="rate"/>
                    <div *ngIf="editForm.get('rate').invalid && (editForm.get('rate').dirty || editForm.get('rate').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('rate').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('rate')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
