<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mGoalEffectiveCard">
            <h2><span>M Goal Effective Card</span> {{mGoalEffectiveCard.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Event Type</span></dt>
                <dd>
                    <span>{{mGoalEffectiveCard.eventType}}</span>
                </dd>
                <dt><span>Event Id</span></dt>
                <dd>
                    <span>{{mGoalEffectiveCard.eventId}}</span>
                </dd>
                <dt><span>Playable Card Id</span></dt>
                <dd>
                    <span>{{mGoalEffectiveCard.playableCardId}}</span>
                </dd>
                <dt><span>Rate</span></dt>
                <dd>
                    <span>{{mGoalEffectiveCard.rate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-goal-effective-card', mGoalEffectiveCard.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
