<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-m-luck-heading">Create or edit a M Luck</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!mLuck.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_targetAttribute">Target Attribute</label>
                    <input type="number" class="form-control" name="targetAttribute" id="field_targetAttribute"
                           formControlName="targetAttribute"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_targetCharacterGroupId">Target Character Group Id</label>
                    <input type="number" class="form-control" name="targetCharacterGroupId" id="field_targetCharacterGroupId"
                           formControlName="targetCharacterGroupId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_targetTeamGroupId">Target Team Group Id</label>
                    <input type="number" class="form-control" name="targetTeamGroupId" id="field_targetTeamGroupId"
                           formControlName="targetTeamGroupId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_targetNationalityGroupId">Target Nationality Group Id</label>
                    <input type="number" class="form-control" name="targetNationalityGroupId" id="field_targetNationalityGroupId"
                           formControlName="targetNationalityGroupId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_luckRateGroupId">Luck Rate Group Id</label>
                    <input type="number" class="form-control" name="luckRateGroupId" id="field_luckRateGroupId"
                           formControlName="luckRateGroupId"/>
                    <div *ngIf="editForm.get('luckRateGroupId').invalid && (editForm.get('luckRateGroupId').dirty || editForm.get('luckRateGroupId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('luckRateGroupId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('luckRateGroupId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                              formControlName="description"></textarea>
                    <div *ngIf="editForm.get('description').invalid && (editForm.get('description').dirty || editForm.get('description').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
