<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-m-situation-heading">Create or edit a M Situation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!mSituation.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_kickoff">Kickoff</label>
                    <input type="number" class="form-control" name="kickoff" id="field_kickoff"
                           formControlName="kickoff"/>
                    <div *ngIf="editForm.get('kickoff').invalid && (editForm.get('kickoff').dirty || editForm.get('kickoff').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('kickoff').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('kickoff')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_penaltyKick">Penalty Kick</label>
                    <input type="number" class="form-control" name="penaltyKick" id="field_penaltyKick"
                           formControlName="penaltyKick"/>
                    <div *ngIf="editForm.get('penaltyKick').invalid && (editForm.get('penaltyKick').dirty || editForm.get('penaltyKick').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('penaltyKick').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('penaltyKick')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_matchInterval">Match Interval</label>
                    <input type="number" class="form-control" name="matchInterval" id="field_matchInterval"
                           formControlName="matchInterval"/>
                    <div *ngIf="editForm.get('matchInterval').invalid && (editForm.get('matchInterval').dirty || editForm.get('matchInterval').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('matchInterval').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('matchInterval')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_outOfPlay">Out Of Play</label>
                    <input type="number" class="form-control" name="outOfPlay" id="field_outOfPlay"
                           formControlName="outOfPlay"/>
                    <div *ngIf="editForm.get('outOfPlay').invalid && (editForm.get('outOfPlay').dirty || editForm.get('outOfPlay').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('outOfPlay').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('outOfPlay')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_foul">Foul</label>
                    <input type="number" class="form-control" name="foul" id="field_foul"
                           formControlName="foul"/>
                    <div *ngIf="editForm.get('foul').invalid && (editForm.get('foul').dirty || editForm.get('foul').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('foul').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('foul')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_goal">Goal</label>
                    <input type="number" class="form-control" name="goal" id="field_goal"
                           formControlName="goal"/>
                    <div *ngIf="editForm.get('goal').invalid && (editForm.get('goal').dirty || editForm.get('goal').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('goal').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('goal')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_score">Score</label>
                    <input type="number" class="form-control" name="score" id="field_score"
                           formControlName="score"/>
                    <div *ngIf="editForm.get('score').invalid && (editForm.get('score').dirty || editForm.get('score').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('score').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('score')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_time">Time</label>
                    <input type="number" class="form-control" name="time" id="field_time"
                           formControlName="time"/>
                    <div *ngIf="editForm.get('time').invalid && (editForm.get('time').dirty || editForm.get('time').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('time').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('time')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
