<div>
    <h2 id="page-heading">
        <span>M Situations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-m-situation" [routerLink]="['/m-situation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new M Situation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mSituations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="kickoff"><span>Kickoff</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="penaltyKick"><span>Penalty Kick</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="matchInterval"><span>Match Interval</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="outOfPlay"><span>Out Of Play</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="foul"><span>Foul</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="goal"><span>Goal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="score"><span>Score</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="time"><span>Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mSituation of mSituations ;trackBy: trackId">
                <td><a [routerLink]="['/m-situation', mSituation.id, 'view' ]">{{mSituation.id}}</a></td>
                <td>{{mSituation.kickoff}}</td>
                <td>{{mSituation.penaltyKick}}</td>
                <td>{{mSituation.matchInterval}}</td>
                <td>{{mSituation.outOfPlay}}</td>
                <td>{{mSituation.foul}}</td>
                <td>{{mSituation.goal}}</td>
                <td>{{mSituation.score}}</td>
                <td>{{mSituation.time}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/m-situation', mSituation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/m-situation', mSituation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'm-situation', { outlets: { popup: mSituation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mSituations && mSituations.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
