<div>
    <h2 id="page-heading">
        <span>M Gacha Rendition Before Shoot Cut In Patterns</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-m-gacha-rendition-before-shoot-cut-in-pattern" [routerLink]="['/m-gacha-rendition-before-shoot-cut-in-pattern/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new M Gacha Rendition Before Shoot Cut In Pattern
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mGachaRenditionBeforeShootCutInPatterns">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="renditionId"><span>Rendition Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isManySsr"><span>Is Many Ssr</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isSsr"><span>Is Ssr</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="weight"><span>Weight</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pattern"><span>Pattern</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="normalPrefabName"><span>Normal Prefab Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flashBackPrefabName1"><span>Flash Back Prefab Name 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flashBackPrefabName2"><span>Flash Back Prefab Name 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flashBackPrefabName3"><span>Flash Back Prefab Name 3</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flashBackPrefabName4"><span>Flash Back Prefab Name 4</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="voicePrefix"><span>Voice Prefix</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="seNormal"><span>Se Normal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="seFlashBack"><span>Se Flash Back</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="exceptKickerId"><span>Except Kicker Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mGachaRenditionBeforeShootCutInPattern of mGachaRenditionBeforeShootCutInPatterns ;trackBy: trackId">
                <td><a [routerLink]="['/m-gacha-rendition-before-shoot-cut-in-pattern', mGachaRenditionBeforeShootCutInPattern.id, 'view' ]">{{mGachaRenditionBeforeShootCutInPattern.id}}</a></td>
                <td>{{mGachaRenditionBeforeShootCutInPattern.renditionId}}</td>
                <td>{{mGachaRenditionBeforeShootCutInPattern.isManySsr}}</td>
                <td>{{mGachaRenditionBeforeShootCutInPattern.isSsr}}</td>
                <td>{{mGachaRenditionBeforeShootCutInPattern.weight}}</td>
                <td>{{mGachaRenditionBeforeShootCutInPattern.pattern}}</td>
                <td>{{mGachaRenditionBeforeShootCutInPattern.normalPrefabName}}</td>
                <td>{{mGachaRenditionBeforeShootCutInPattern.flashBackPrefabName1}}</td>
                <td>{{mGachaRenditionBeforeShootCutInPattern.flashBackPrefabName2}}</td>
                <td>{{mGachaRenditionBeforeShootCutInPattern.flashBackPrefabName3}}</td>
                <td>{{mGachaRenditionBeforeShootCutInPattern.flashBackPrefabName4}}</td>
                <td>{{mGachaRenditionBeforeShootCutInPattern.voicePrefix}}</td>
                <td>{{mGachaRenditionBeforeShootCutInPattern.seNormal}}</td>
                <td>{{mGachaRenditionBeforeShootCutInPattern.seFlashBack}}</td>
                <td>{{mGachaRenditionBeforeShootCutInPattern.exceptKickerId}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/m-gacha-rendition-before-shoot-cut-in-pattern', mGachaRenditionBeforeShootCutInPattern.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/m-gacha-rendition-before-shoot-cut-in-pattern', mGachaRenditionBeforeShootCutInPattern.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'm-gacha-rendition-before-shoot-cut-in-pattern', { outlets: { popup: mGachaRenditionBeforeShootCutInPattern.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mGachaRenditionBeforeShootCutInPatterns && mGachaRenditionBeforeShootCutInPatterns.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
