<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-m-chat-system-message-heading">Create or edit a M Chat System Message</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!mChatSystemMessage.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_messageType">Message Type</label>
                    <input type="number" class="form-control" name="messageType" id="field_messageType"
                           formControlName="messageType"/>
                    <div *ngIf="editForm.get('messageType').invalid && (editForm.get('messageType').dirty || editForm.get('messageType').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('messageType').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('messageType')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_messageKey">Message Key</label>
                    <textarea class="form-control" name="messageKey" id="field_messageKey"
                              formControlName="messageKey"></textarea>
                    <div *ngIf="editForm.get('messageKey').invalid && (editForm.get('messageKey').dirty || editForm.get('messageKey').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('messageKey').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
