<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mChatSystemMessage">
            <h2><span>M Chat System Message</span> {{mChatSystemMessage.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Message Type</span></dt>
                <dd>
                    <span>{{mChatSystemMessage.messageType}}</span>
                </dd>
                <dt><span>Message Key</span></dt>
                <dd>
                    <span>{{mChatSystemMessage.messageKey}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-chat-system-message', mChatSystemMessage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
