<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mPlayableCard">
            <h2><span>M Playable Card</span> {{mPlayableCard.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Model Id</span></dt>
                <dd>
                    <span>{{mPlayableCard.modelId}}</span>
                </dd>
                <dt><span>Proper Position Gk</span></dt>
                <dd>
                    <span>{{mPlayableCard.properPositionGk}}</span>
                </dd>
                <dt><span>Proper Position Fw</span></dt>
                <dd>
                    <span>{{mPlayableCard.properPositionFw}}</span>
                </dd>
                <dt><span>Proper Position Omf</span></dt>
                <dd>
                    <span>{{mPlayableCard.properPositionOmf}}</span>
                </dd>
                <dt><span>Proper Position Dmf</span></dt>
                <dd>
                    <span>{{mPlayableCard.properPositionDmf}}</span>
                </dd>
                <dt><span>Proper Position Df</span></dt>
                <dd>
                    <span>{{mPlayableCard.properPositionDf}}</span>
                </dd>
                <dt><span>Character Id</span></dt>
                <dd>
                    <span>{{mPlayableCard.characterId}}</span>
                </dd>
                <dt><span>Nick Name</span></dt>
                <dd>
                    <span>{{mPlayableCard.nickName}}</span>
                </dd>
                <dt><span>Team Id</span></dt>
                <dd>
                    <span>{{mPlayableCard.teamId}}</span>
                </dd>
                <dt><span>Nationality Id</span></dt>
                <dd>
                    <span>{{mPlayableCard.nationalityId}}</span>
                </dd>
                <dt><span>Rarity</span></dt>
                <dd>
                    <span>{{mPlayableCard.rarity}}</span>
                </dd>
                <dt><span>Attribute</span></dt>
                <dd>
                    <span>{{mPlayableCard.attribute}}</span>
                </dd>
                <dt><span>Thumbnail Assets Id</span></dt>
                <dd>
                    <span>{{mPlayableCard.thumbnailAssetsId}}</span>
                </dd>
                <dt><span>Card Illust Assets Id</span></dt>
                <dd>
                    <span>{{mPlayableCard.cardIllustAssetsId}}</span>
                </dd>
                <dt><span>Playable Assets Id</span></dt>
                <dd>
                    <span>{{mPlayableCard.playableAssetsId}}</span>
                </dd>
                <dt><span>Team Effect Id</span></dt>
                <dd>
                    <span>{{mPlayableCard.teamEffectId}}</span>
                </dd>
                <dt><span>Trigger Effect Id</span></dt>
                <dd>
                    <span>{{mPlayableCard.triggerEffectId}}</span>
                </dd>
                <dt><span>Max Action Slot</span></dt>
                <dd>
                    <span>{{mPlayableCard.maxActionSlot}}</span>
                </dd>
                <dt><span>Initial Action Id 1</span></dt>
                <dd>
                    <span>{{mPlayableCard.initialActionId1}}</span>
                </dd>
                <dt><span>Initial Action Id 2</span></dt>
                <dd>
                    <span>{{mPlayableCard.initialActionId2}}</span>
                </dd>
                <dt><span>Initial Action Id 3</span></dt>
                <dd>
                    <span>{{mPlayableCard.initialActionId3}}</span>
                </dd>
                <dt><span>Initial Action Id 4</span></dt>
                <dd>
                    <span>{{mPlayableCard.initialActionId4}}</span>
                </dd>
                <dt><span>Initial Action Id 5</span></dt>
                <dd>
                    <span>{{mPlayableCard.initialActionId5}}</span>
                </dd>
                <dt><span>Initial Stamina</span></dt>
                <dd>
                    <span>{{mPlayableCard.initialStamina}}</span>
                </dd>
                <dt><span>Initial Dribble</span></dt>
                <dd>
                    <span>{{mPlayableCard.initialDribble}}</span>
                </dd>
                <dt><span>Initial Shoot</span></dt>
                <dd>
                    <span>{{mPlayableCard.initialShoot}}</span>
                </dd>
                <dt><span>Initial Pass</span></dt>
                <dd>
                    <span>{{mPlayableCard.initialPass}}</span>
                </dd>
                <dt><span>Initial Tackle</span></dt>
                <dd>
                    <span>{{mPlayableCard.initialTackle}}</span>
                </dd>
                <dt><span>Initial Block</span></dt>
                <dd>
                    <span>{{mPlayableCard.initialBlock}}</span>
                </dd>
                <dt><span>Initial Intercept</span></dt>
                <dd>
                    <span>{{mPlayableCard.initialIntercept}}</span>
                </dd>
                <dt><span>Initial Speed</span></dt>
                <dd>
                    <span>{{mPlayableCard.initialSpeed}}</span>
                </dd>
                <dt><span>Initial Power</span></dt>
                <dd>
                    <span>{{mPlayableCard.initialPower}}</span>
                </dd>
                <dt><span>Initial Technique</span></dt>
                <dd>
                    <span>{{mPlayableCard.initialTechnique}}</span>
                </dd>
                <dt><span>Initial Punching</span></dt>
                <dd>
                    <span>{{mPlayableCard.initialPunching}}</span>
                </dd>
                <dt><span>Initial Catching</span></dt>
                <dd>
                    <span>{{mPlayableCard.initialCatching}}</span>
                </dd>
                <dt><span>Max Stamina</span></dt>
                <dd>
                    <span>{{mPlayableCard.maxStamina}}</span>
                </dd>
                <dt><span>Max Dribble</span></dt>
                <dd>
                    <span>{{mPlayableCard.maxDribble}}</span>
                </dd>
                <dt><span>Max Shoot</span></dt>
                <dd>
                    <span>{{mPlayableCard.maxShoot}}</span>
                </dd>
                <dt><span>Max Pass</span></dt>
                <dd>
                    <span>{{mPlayableCard.maxPass}}</span>
                </dd>
                <dt><span>Max Tackle</span></dt>
                <dd>
                    <span>{{mPlayableCard.maxTackle}}</span>
                </dd>
                <dt><span>Max Block</span></dt>
                <dd>
                    <span>{{mPlayableCard.maxBlock}}</span>
                </dd>
                <dt><span>Max Intercept</span></dt>
                <dd>
                    <span>{{mPlayableCard.maxIntercept}}</span>
                </dd>
                <dt><span>Max Speed</span></dt>
                <dd>
                    <span>{{mPlayableCard.maxSpeed}}</span>
                </dd>
                <dt><span>Max Power</span></dt>
                <dd>
                    <span>{{mPlayableCard.maxPower}}</span>
                </dd>
                <dt><span>Max Technique</span></dt>
                <dd>
                    <span>{{mPlayableCard.maxTechnique}}</span>
                </dd>
                <dt><span>Max Punching</span></dt>
                <dd>
                    <span>{{mPlayableCard.maxPunching}}</span>
                </dd>
                <dt><span>Max Catching</span></dt>
                <dd>
                    <span>{{mPlayableCard.maxCatching}}</span>
                </dd>
                <dt><span>Max Plus Dribble</span></dt>
                <dd>
                    <span>{{mPlayableCard.maxPlusDribble}}</span>
                </dd>
                <dt><span>Max Plus Shoot</span></dt>
                <dd>
                    <span>{{mPlayableCard.maxPlusShoot}}</span>
                </dd>
                <dt><span>Max Plus Pass</span></dt>
                <dd>
                    <span>{{mPlayableCard.maxPlusPass}}</span>
                </dd>
                <dt><span>Max Plus Tackle</span></dt>
                <dd>
                    <span>{{mPlayableCard.maxPlusTackle}}</span>
                </dd>
                <dt><span>Max Plus Block</span></dt>
                <dd>
                    <span>{{mPlayableCard.maxPlusBlock}}</span>
                </dd>
                <dt><span>Max Plus Intercept</span></dt>
                <dd>
                    <span>{{mPlayableCard.maxPlusIntercept}}</span>
                </dd>
                <dt><span>Max Plus Speed</span></dt>
                <dd>
                    <span>{{mPlayableCard.maxPlusSpeed}}</span>
                </dd>
                <dt><span>Max Plus Power</span></dt>
                <dd>
                    <span>{{mPlayableCard.maxPlusPower}}</span>
                </dd>
                <dt><span>Max Plus Technique</span></dt>
                <dd>
                    <span>{{mPlayableCard.maxPlusTechnique}}</span>
                </dd>
                <dt><span>Max Plus Punching</span></dt>
                <dd>
                    <span>{{mPlayableCard.maxPlusPunching}}</span>
                </dd>
                <dt><span>Max Plus Catching</span></dt>
                <dd>
                    <span>{{mPlayableCard.maxPlusCatching}}</span>
                </dd>
                <dt><span>High Ball Bonus</span></dt>
                <dd>
                    <span>{{mPlayableCard.highBallBonus}}</span>
                </dd>
                <dt><span>Low Ball Bonus</span></dt>
                <dd>
                    <span>{{mPlayableCard.lowBallBonus}}</span>
                </dd>
                <dt><span>Is Drop Only</span></dt>
                <dd>
                    <span>{{mPlayableCard.isDropOnly}}</span>
                </dd>
                <dt><span>Sell Coin Group Num</span></dt>
                <dd>
                    <span>{{mPlayableCard.sellCoinGroupNum}}</span>
                </dd>
                <dt><span>Sell Medal Id</span></dt>
                <dd>
                    <span>{{mPlayableCard.sellMedalId}}</span>
                </dd>
                <dt><span>Character Book Id</span></dt>
                <dd>
                    <span>{{mPlayableCard.characterBookId}}</span>
                </dd>
                <dt><span>Book No</span></dt>
                <dd>
                    <span>{{mPlayableCard.bookNo}}</span>
                </dd>
                <dt><span>Is Show Book</span></dt>
                <dd>
                    <span>{{mPlayableCard.isShowBook}}</span>
                </dd>
                <dt><span>Level Group Id</span></dt>
                <dd>
                    <span>{{mPlayableCard.levelGroupId}}</span>
                </dd>
                <dt><span>Start At</span></dt>
                <dd>
                    <span>{{mPlayableCard.startAt}}</span>
                </dd>
                <dt><span>Id</span></dt>
                <dd>
                    <div *ngIf="mPlayableCard.idId">
                        <a [routerLink]="['/m-model-card', mPlayableCard.idId, 'view']">{{mPlayableCard.idId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-playable-card', mPlayableCard.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
