<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mEmblemParts">
            <h2><span>M Emblem Parts</span> {{mEmblemParts.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Asset Name</span></dt>
                <dd>
                    <span>{{mEmblemParts.assetName}}</span>
                </dd>
                <dt><span>Parts Type</span></dt>
                <dd>
                    <span>{{mEmblemParts.partsType}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-emblem-parts', mEmblemParts.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
