<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mRegulatedLeagueRankingReward">
            <h2><span>M Regulated League Ranking Reward</span> {{mRegulatedLeagueRankingReward.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Regulated League Id</span></dt>
                <dd>
                    <span>{{mRegulatedLeagueRankingReward.regulatedLeagueId}}</span>
                </dd>
                <dt><span>League Hierarchy</span></dt>
                <dd>
                    <span>{{mRegulatedLeagueRankingReward.leagueHierarchy}}</span>
                </dd>
                <dt><span>Rank To</span></dt>
                <dd>
                    <span>{{mRegulatedLeagueRankingReward.rankTo}}</span>
                </dd>
                <dt><span>Reward Group Id</span></dt>
                <dd>
                    <span>{{mRegulatedLeagueRankingReward.rewardGroupId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-regulated-league-ranking-reward', mRegulatedLeagueRankingReward.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
