<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mTargetNationalityGroup">
            <h2><span>M Target Nationality Group</span> {{mTargetNationalityGroup.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Group Id</span></dt>
                <dd>
                    <span>{{mTargetNationalityGroup.groupId}}</span>
                </dd>
                <dt><span>Nationality Id</span></dt>
                <dd>
                    <span>{{mTargetNationalityGroup.nationalityId}}</span>
                </dd>
                <dt><span>Id</span></dt>
                <dd>
                    <div *ngIf="mTargetNationalityGroup.idId">
                        <a [routerLink]="['/m-nationality', mTargetNationalityGroup.idId, 'view']">{{mTargetNationalityGroup.idId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-target-nationality-group', mTargetNationalityGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
