<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mCheatCaution">
            <h2><span>M Cheat Caution</span> {{mCheatCaution.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Caution</span></dt>
                <dd>
                    <span>{{mCheatCaution.caution}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{mCheatCaution.description}}</span>
                </dd>
                <dt><span>Image Asset Name</span></dt>
                <dd>
                    <span>{{mCheatCaution.imageAssetName}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-cheat-caution', mCheatCaution.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
