<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mTargetTriggerEffectGroup">
            <h2><span>M Target Trigger Effect Group</span> {{mTargetTriggerEffectGroup.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Group Id</span></dt>
                <dd>
                    <span>{{mTargetTriggerEffectGroup.groupId}}</span>
                </dd>
                <dt><span>Trigger Effect Id</span></dt>
                <dd>
                    <span>{{mTargetTriggerEffectGroup.triggerEffectId}}</span>
                </dd>
                <dt><span>Mtriggereffectbase</span></dt>
                <dd>
                    <div *ngIf="mTargetTriggerEffectGroup.mtriggereffectbaseId">
                        <a [routerLink]="['/m-trigger-effect-base', mTargetTriggerEffectGroup.mtriggereffectbaseId, 'view']">{{mTargetTriggerEffectGroup.mtriggereffectbaseId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-target-trigger-effect-group', mTargetTriggerEffectGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
