<div>
    <h2 id="page-heading">
        <span>M Login Bonus Serifs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-m-login-bonus-serif" [routerLink]="['/m-login-bonus-serif/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new M Login Bonus Serif
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mLoginBonusSerifs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serifId"><span>Serif Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serif1"><span>Serif 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serif2"><span>Serif 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mLoginBonusSerif of mLoginBonusSerifs ;trackBy: trackId">
                <td><a [routerLink]="['/m-login-bonus-serif', mLoginBonusSerif.id, 'view' ]">{{mLoginBonusSerif.id}}</a></td>
                <td>{{mLoginBonusSerif.serifId}}</td>
                <td>{{mLoginBonusSerif.serif1}}</td>
                <td>{{mLoginBonusSerif.serif2}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/m-login-bonus-serif', mLoginBonusSerif.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/m-login-bonus-serif', mLoginBonusSerif.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'm-login-bonus-serif', { outlets: { popup: mLoginBonusSerif.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mLoginBonusSerifs && mLoginBonusSerifs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
