<div>
    <h2 id="page-heading">
        <span>M Model Uniform Bottoms</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-m-model-uniform-bottom" [routerLink]="['/m-model-uniform-bottom/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new M Model Uniform Bottom
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mModelUniformBottoms">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="uniformBottomId"><span>Uniform Bottom Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="defaultDressingType"><span>Default Dressing Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="uniformModel"><span>Uniform Model</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="uniformTexture"><span>Uniform Texture</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="uniformNoTexture"><span>Uniform No Texture</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="defaultColor"><span>Default Color</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="uniformNoColor"><span>Uniform No Color</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numberRightLeg"><span>Number Right Leg</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numberLeftLeg"><span>Number Left Leg</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="uniformNoPositionX"><span>Uniform No Position X</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="uniformNoPositionY"><span>Uniform No Position Y</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mModelUniformBottom of mModelUniformBottoms ;trackBy: trackId">
                <td><a [routerLink]="['/m-model-uniform-bottom', mModelUniformBottom.id, 'view' ]">{{mModelUniformBottom.id}}</a></td>
                <td>{{mModelUniformBottom.uniformBottomId}}</td>
                <td>{{mModelUniformBottom.defaultDressingType}}</td>
                <td>{{mModelUniformBottom.uniformModel}}</td>
                <td>{{mModelUniformBottom.uniformTexture}}</td>
                <td>{{mModelUniformBottom.uniformNoTexture}}</td>
                <td>{{mModelUniformBottom.defaultColor}}</td>
                <td>{{mModelUniformBottom.uniformNoColor}}</td>
                <td>{{mModelUniformBottom.numberRightLeg}}</td>
                <td>{{mModelUniformBottom.numberLeftLeg}}</td>
                <td>{{mModelUniformBottom.uniformNoPositionX}}</td>
                <td>{{mModelUniformBottom.uniformNoPositionY}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/m-model-uniform-bottom', mModelUniformBottom.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/m-model-uniform-bottom', mModelUniformBottom.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'm-model-uniform-bottom', { outlets: { popup: mModelUniformBottom.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mModelUniformBottoms && mModelUniformBottoms.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
