<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mCutAction">
            <h2><span>M Cut Action</span> {{mCutAction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Action Cut Id</span></dt>
                <dd>
                    <span>{{mCutAction.actionCutId}}</span>
                </dd>
                <dt><span>Cut Action Type</span></dt>
                <dd>
                    <span>{{mCutAction.cutActionType}}</span>
                </dd>
                <dt><span>Cut Sequence Text</span></dt>
                <dd>
                    <span>{{mCutAction.cutSequenceText}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-cut-action', mCutAction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
