<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mBadge">
            <h2><span>M Badge</span> {{mBadge.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{mBadge.name}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{mBadge.type}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{mBadge.description}}</span>
                </dd>
                <dt><span>Asset Name</span></dt>
                <dd>
                    <span>{{mBadge.assetName}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-badge', mBadge.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
