<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mMarathonAchievementRewardGroup">
            <h2><span>M Marathon Achievement Reward Group</span> {{mMarathonAchievementRewardGroup.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Group Id</span></dt>
                <dd>
                    <span>{{mMarathonAchievementRewardGroup.groupId}}</span>
                </dd>
                <dt><span>Content Type</span></dt>
                <dd>
                    <span>{{mMarathonAchievementRewardGroup.contentType}}</span>
                </dd>
                <dt><span>Content Id</span></dt>
                <dd>
                    <span>{{mMarathonAchievementRewardGroup.contentId}}</span>
                </dd>
                <dt><span>Content Amount</span></dt>
                <dd>
                    <span>{{mMarathonAchievementRewardGroup.contentAmount}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-marathon-achievement-reward-group', mMarathonAchievementRewardGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
