<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mAdventQuestStage">
            <h2><span>M Advent Quest Stage</span> {{mAdventQuestStage.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>World Id</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.worldId}}</span>
                </dd>
                <dt><span>Number</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.number}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.name}}</span>
                </dd>
                <dt><span>Image Path</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.imagePath}}</span>
                </dd>
                <dt><span>Character Thumbnail Path</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.characterThumbnailPath}}</span>
                </dd>
                <dt><span>Difficulty</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.difficulty}}</span>
                </dd>
                <dt><span>Stage Unlock Pattern</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.stageUnlockPattern}}</span>
                </dd>
                <dt><span>Story Only</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.storyOnly}}</span>
                </dd>
                <dt><span>First Half Npc Deck Id</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.firstHalfNpcDeckId}}</span>
                </dd>
                <dt><span>First Half Environment Id</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.firstHalfEnvironmentId}}</span>
                </dd>
                <dt><span>Second Half Npc Deck Id</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.secondHalfNpcDeckId}}</span>
                </dd>
                <dt><span>Second Half Environment Id</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.secondHalfEnvironmentId}}</span>
                </dd>
                <dt><span>Extra First Half Npc Deck Id</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.extraFirstHalfNpcDeckId}}</span>
                </dd>
                <dt><span>Extra Second Half Npc Deck Id</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.extraSecondHalfNpcDeckId}}</span>
                </dd>
                <dt><span>Consume Ap</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.consumeAp}}</span>
                </dd>
                <dt><span>Kick Off Type</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.kickOffType}}</span>
                </dd>
                <dt><span>Match Minute</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.matchMinute}}</span>
                </dd>
                <dt><span>Enable Extra</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.enableExtra}}</span>
                </dd>
                <dt><span>Enable Pk</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.enablePk}}</span>
                </dd>
                <dt><span>Ai Level</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.aiLevel}}</span>
                </dd>
                <dt><span>Start At Second Half</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.startAtSecondHalf}}</span>
                </dd>
                <dt><span>Start Score</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.startScore}}</span>
                </dd>
                <dt><span>Start Score Opponent</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.startScoreOpponent}}</span>
                </dd>
                <dt><span>Condition Id</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.conditionId}}</span>
                </dd>
                <dt><span>Option Id</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.optionId}}</span>
                </dd>
                <dt><span>Deck Condition Id</span></dt>
                <dd>
                    <span>{{mAdventQuestStage.deckConditionId}}</span>
                </dd>
                <dt><span>Id</span></dt>
                <dd>
                    <div *ngIf="mAdventQuestStage.idId">
                        <a [routerLink]="['/m-advent-quest-world', mAdventQuestStage.idId, 'view']">{{mAdventQuestStage.idId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-advent-quest-stage', mAdventQuestStage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
