<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-m-character-book-heading">Create or edit a M Character Book</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!mCharacterBook.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cvName">Cv Name</label>
                    <textarea class="form-control" name="cvName" id="field_cvName"
                              formControlName="cvName"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_series">Series</label>
                    <input type="number" class="form-control" name="series" id="field_series"
                           formControlName="series"/>
                    <div *ngIf="editForm.get('series').invalid && (editForm.get('series').dirty || editForm.get('series').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('series').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('series')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_height">Height</label>
                    <input type="number" class="form-control" name="height" id="field_height"
                           formControlName="height"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_weight">Weight</label>
                    <input type="number" class="form-control" name="weight" id="field_weight"
                           formControlName="weight"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_introduction">Introduction</label>
                    <textarea class="form-control" name="introduction" id="field_introduction"
                              formControlName="introduction"></textarea>
                    <div *ngIf="editForm.get('introduction').invalid && (editForm.get('introduction').dirty || editForm.get('introduction').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('introduction').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_firstAppearedComic">First Appeared Comic</label>
                    <textarea class="form-control" name="firstAppearedComic" id="field_firstAppearedComic"
                              formControlName="firstAppearedComic"></textarea>
                    <div *ngIf="editForm.get('firstAppearedComic').invalid && (editForm.get('firstAppearedComic').dirty || editForm.get('firstAppearedComic').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('firstAppearedComic').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_firstAppearedComicLink">First Appeared Comic Link</label>
                    <textarea class="form-control" name="firstAppearedComicLink" id="field_firstAppearedComicLink"
                              formControlName="firstAppearedComicLink"></textarea>
                    <div *ngIf="editForm.get('firstAppearedComicLink').invalid && (editForm.get('firstAppearedComicLink').dirty || editForm.get('firstAppearedComicLink').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('firstAppearedComicLink').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_skill1">Skill 1</label>
                    <textarea class="form-control" name="skill1" id="field_skill1"
                              formControlName="skill1"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_skill1Comic">Skill 1 Comic</label>
                    <textarea class="form-control" name="skill1Comic" id="field_skill1Comic"
                              formControlName="skill1Comic"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_skill1ComicLink">Skill 1 Comic Link</label>
                    <textarea class="form-control" name="skill1ComicLink" id="field_skill1ComicLink"
                              formControlName="skill1ComicLink"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_skill2">Skill 2</label>
                    <textarea class="form-control" name="skill2" id="field_skill2"
                              formControlName="skill2"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_skill2Comic">Skill 2 Comic</label>
                    <textarea class="form-control" name="skill2Comic" id="field_skill2Comic"
                              formControlName="skill2Comic"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_skill2ComicLink">Skill 2 Comic Link</label>
                    <textarea class="form-control" name="skill2ComicLink" id="field_skill2ComicLink"
                              formControlName="skill2ComicLink"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_skill3">Skill 3</label>
                    <textarea class="form-control" name="skill3" id="field_skill3"
                              formControlName="skill3"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_skill3Comic">Skill 3 Comic</label>
                    <textarea class="form-control" name="skill3Comic" id="field_skill3Comic"
                              formControlName="skill3Comic"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_skill3ComicLink">Skill 3 Comic Link</label>
                    <textarea class="form-control" name="skill3ComicLink" id="field_skill3ComicLink"
                              formControlName="skill3ComicLink"></textarea>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
