<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mTicketQuestWorld">
            <h2><span>M Ticket Quest World</span> {{mTicketQuestWorld.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Set Id</span></dt>
                <dd>
                    <span>{{mTicketQuestWorld.setId}}</span>
                </dd>
                <dt><span>Number</span></dt>
                <dd>
                    <span>{{mTicketQuestWorld.number}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{mTicketQuestWorld.name}}</span>
                </dd>
                <dt><span>Image Path</span></dt>
                <dd>
                    <span>{{mTicketQuestWorld.imagePath}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{mTicketQuestWorld.description}}</span>
                </dd>
                <dt><span>Stage Unlock Pattern</span></dt>
                <dd>
                    <span>{{mTicketQuestWorld.stageUnlockPattern}}</span>
                </dd>
                <dt><span>Special Reward Content Type</span></dt>
                <dd>
                    <span>{{mTicketQuestWorld.specialRewardContentType}}</span>
                </dd>
                <dt><span>Special Reward Content Id</span></dt>
                <dd>
                    <span>{{mTicketQuestWorld.specialRewardContentId}}</span>
                </dd>
                <dt><span>Is Enable Coop</span></dt>
                <dd>
                    <span>{{mTicketQuestWorld.isEnableCoop}}</span>
                </dd>
                <dt><span>Is Hide Do Not Having Ticket</span></dt>
                <dd>
                    <span>{{mTicketQuestWorld.isHideDoNotHavingTicket}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-ticket-quest-world', mTicketQuestWorld.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
