<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-m-login-bonus-incentive-heading">Create or edit a M Login Bonus Incentive</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!mLoginBonusIncentive.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_roundId">Round Id</label>
                    <input type="number" class="form-control" name="roundId" id="field_roundId"
                           formControlName="roundId"/>
                    <div *ngIf="editForm.get('roundId').invalid && (editForm.get('roundId').dirty || editForm.get('roundId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('roundId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('roundId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_day">Day</label>
                    <input type="number" class="form-control" name="day" id="field_day"
                           formControlName="day"/>
                    <div *ngIf="editForm.get('day').invalid && (editForm.get('day').dirty || editForm.get('day').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('day').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('day')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_contentType">Content Type</label>
                    <input type="number" class="form-control" name="contentType" id="field_contentType"
                           formControlName="contentType"/>
                    <div *ngIf="editForm.get('contentType').invalid && (editForm.get('contentType').dirty || editForm.get('contentType').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('contentType').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('contentType')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_contentId">Content Id</label>
                    <input type="number" class="form-control" name="contentId" id="field_contentId"
                           formControlName="contentId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_contentAmount">Content Amount</label>
                    <input type="number" class="form-control" name="contentAmount" id="field_contentAmount"
                           formControlName="contentAmount"/>
                    <div *ngIf="editForm.get('contentAmount').invalid && (editForm.get('contentAmount').dirty || editForm.get('contentAmount').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('contentAmount').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('contentAmount')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_presentDetail">Present Detail</label>
                    <textarea class="form-control" name="presentDetail" id="field_presentDetail"
                              formControlName="presentDetail"></textarea>
                    <div *ngIf="editForm.get('presentDetail').invalid && (editForm.get('presentDetail').dirty || editForm.get('presentDetail').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('presentDetail').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_isDecorated">Is Decorated</label>
                    <input type="number" class="form-control" name="isDecorated" id="field_isDecorated"
                           formControlName="isDecorated"/>
                    <div *ngIf="editForm.get('isDecorated').invalid && (editForm.get('isDecorated').dirty || editForm.get('isDecorated').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('isDecorated').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('isDecorated')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
