<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mNgWord">
            <h2><span>M Ng Word</span> {{mNgWord.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Word</span></dt>
                <dd>
                    <span>{{mNgWord.word}}</span>
                </dd>
                <dt><span>Judge Type</span></dt>
                <dd>
                    <span>{{mNgWord.judgeType}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-ng-word', mNgWord.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
