<div>
    <h2 id="page-heading">
        <span>M Quest Coops</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-m-quest-coop" [routerLink]="['/m-quest-coop/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new M Quest Coop
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mQuestCoops">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="groupId"><span>Group Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="effectRarity"><span>Effect Rarity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="effectLevelFrom"><span>Effect Level From</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="effectLevelTo"><span>Effect Level To</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="choose1Weight"><span>Choose 1 Weight</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="choose2Weight"><span>Choose 2 Weight</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mQuestCoop of mQuestCoops ;trackBy: trackId">
                <td><a [routerLink]="['/m-quest-coop', mQuestCoop.id, 'view' ]">{{mQuestCoop.id}}</a></td>
                <td>{{mQuestCoop.groupId}}</td>
                <td>{{mQuestCoop.effectRarity}}</td>
                <td>{{mQuestCoop.effectLevelFrom}}</td>
                <td>{{mQuestCoop.effectLevelTo}}</td>
                <td>{{mQuestCoop.choose1Weight}}</td>
                <td>{{mQuestCoop.choose2Weight}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/m-quest-coop', mQuestCoop.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/m-quest-coop', mQuestCoop.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'm-quest-coop', { outlets: { popup: mQuestCoop.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mQuestCoops && mQuestCoops.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
