<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mAchievement">
            <h2><span>M Achievement</span> {{mAchievement.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Achievement Id</span></dt>
                <dd>
                    <span>{{mAchievement.achievementId}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{mAchievement.name}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{mAchievement.type}}</span>
                </dd>
                <dt><span>Mission Id</span></dt>
                <dd>
                    <span>{{mAchievement.missionId}}</span>
                </dd>
                <dt><span>Mmission</span></dt>
                <dd>
                    <div *ngIf="mAchievement.mmissionId">
                        <a [routerLink]="['/m-mission', mAchievement.mmissionId, 'view']">{{mAchievement.mmissionId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-achievement', mAchievement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
