<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-m-achievement-heading">Create or edit a M Achievement</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!mAchievement.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_achievementId">Achievement Id</label>
                    <textarea class="form-control" name="achievementId" id="field_achievementId"
                              formControlName="achievementId"></textarea>
                    <div *ngIf="editForm.get('achievementId').invalid && (editForm.get('achievementId').dirty || editForm.get('achievementId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('achievementId').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <textarea class="form-control" name="name" id="field_name"
                              formControlName="name"></textarea>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <input type="number" class="form-control" name="type" id="field_type"
                           formControlName="type"/>
                    <div *ngIf="editForm.get('type').invalid && (editForm.get('type').dirty || editForm.get('type').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('type').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('type')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_missionId">Mission Id</label>
                    <input type="number" class="form-control" name="missionId" id="field_missionId"
                           formControlName="missionId"/>
                    <div *ngIf="editForm.get('missionId').invalid && (editForm.get('missionId').dirty || editForm.get('missionId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('missionId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('missionId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_mmission">Mmission</label>
                    <select class="form-control" id="field_mmission" name="mmission" formControlName="mmissionId">
                        <option *ngIf="!editForm.get('mmission').value" [ngValue]="null" selected></option>
                        <option [ngValue]="mMissionOption.id" *ngFor="let mMissionOption of mmissions; trackBy: trackMMissionById">{{mMissionOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('mmission').invalid && (editForm.get('mmission').dirty || editForm.get('mmission').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('mmission').errors.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
