<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-m-gacha-rendition-kicker-heading">Create or edit a M Gacha Rendition Kicker</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!mGachaRenditionKicker.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_renditionId">Rendition Id</label>
                    <input type="number" class="form-control" name="renditionId" id="field_renditionId"
                           formControlName="renditionId"/>
                    <div *ngIf="editForm.get('renditionId').invalid && (editForm.get('renditionId').dirty || editForm.get('renditionId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('renditionId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('renditionId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_isManySsr">Is Many Ssr</label>
                    <input type="number" class="form-control" name="isManySsr" id="field_isManySsr"
                           formControlName="isManySsr"/>
                    <div *ngIf="editForm.get('isManySsr').invalid && (editForm.get('isManySsr').dirty || editForm.get('isManySsr').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('isManySsr').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('isManySsr')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_isSsr">Is Ssr</label>
                    <input type="number" class="form-control" name="isSsr" id="field_isSsr"
                           formControlName="isSsr"/>
                    <div *ngIf="editForm.get('isSsr').invalid && (editForm.get('isSsr').dirty || editForm.get('isSsr').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('isSsr').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('isSsr')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_weight">Weight</label>
                    <input type="number" class="form-control" name="weight" id="field_weight"
                           formControlName="weight"/>
                    <div *ngIf="editForm.get('weight').invalid && (editForm.get('weight').dirty || editForm.get('weight').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('weight').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('weight')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_leftModelId">Left Model Id</label>
                    <input type="number" class="form-control" name="leftModelId" id="field_leftModelId"
                           formControlName="leftModelId"/>
                    <div *ngIf="editForm.get('leftModelId').invalid && (editForm.get('leftModelId').dirty || editForm.get('leftModelId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('leftModelId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('leftModelId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_leftUniformUpId">Left Uniform Up Id</label>
                    <input type="number" class="form-control" name="leftUniformUpId" id="field_leftUniformUpId"
                           formControlName="leftUniformUpId"/>
                    <div *ngIf="editForm.get('leftUniformUpId').invalid && (editForm.get('leftUniformUpId').dirty || editForm.get('leftUniformUpId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('leftUniformUpId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('leftUniformUpId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_leftUniformBottomId">Left Uniform Bottom Id</label>
                    <input type="number" class="form-control" name="leftUniformBottomId" id="field_leftUniformBottomId"
                           formControlName="leftUniformBottomId"/>
                    <div *ngIf="editForm.get('leftUniformBottomId').invalid && (editForm.get('leftUniformBottomId').dirty || editForm.get('leftUniformBottomId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('leftUniformBottomId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('leftUniformBottomId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_leftUniformNumber">Left Uniform Number</label>
                    <input type="number" class="form-control" name="leftUniformNumber" id="field_leftUniformNumber"
                           formControlName="leftUniformNumber"/>
                    <div *ngIf="editForm.get('leftUniformNumber').invalid && (editForm.get('leftUniformNumber').dirty || editForm.get('leftUniformNumber').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('leftUniformNumber').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('leftUniformNumber')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rightModelId">Right Model Id</label>
                    <input type="number" class="form-control" name="rightModelId" id="field_rightModelId"
                           formControlName="rightModelId"/>
                    <div *ngIf="editForm.get('rightModelId').invalid && (editForm.get('rightModelId').dirty || editForm.get('rightModelId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('rightModelId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('rightModelId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rightUniformUpId">Right Uniform Up Id</label>
                    <input type="number" class="form-control" name="rightUniformUpId" id="field_rightUniformUpId"
                           formControlName="rightUniformUpId"/>
                    <div *ngIf="editForm.get('rightUniformUpId').invalid && (editForm.get('rightUniformUpId').dirty || editForm.get('rightUniformUpId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('rightUniformUpId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('rightUniformUpId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rightUniformBottomId">Right Uniform Bottom Id</label>
                    <input type="number" class="form-control" name="rightUniformBottomId" id="field_rightUniformBottomId"
                           formControlName="rightUniformBottomId"/>
                    <div *ngIf="editForm.get('rightUniformBottomId').invalid && (editForm.get('rightUniformBottomId').dirty || editForm.get('rightUniformBottomId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('rightUniformBottomId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('rightUniformBottomId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rightUniformNumber">Right Uniform Number</label>
                    <input type="number" class="form-control" name="rightUniformNumber" id="field_rightUniformNumber"
                           formControlName="rightUniformNumber"/>
                    <div *ngIf="editForm.get('rightUniformNumber').invalid && (editForm.get('rightUniformNumber').dirty || editForm.get('rightUniformNumber').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('rightUniformNumber').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('rightUniformNumber')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cutInSpriteName">Cut In Sprite Name</label>
                    <textarea class="form-control" name="cutInSpriteName" id="field_cutInSpriteName"
                              formControlName="cutInSpriteName"></textarea>
                    <div *ngIf="editForm.get('cutInSpriteName').invalid && (editForm.get('cutInSpriteName').dirty || editForm.get('cutInSpriteName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cutInSpriteName').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_leftMessage">Left Message</label>
                    <textarea class="form-control" name="leftMessage" id="field_leftMessage"
                              formControlName="leftMessage"></textarea>
                    <div *ngIf="editForm.get('leftMessage').invalid && (editForm.get('leftMessage').dirty || editForm.get('leftMessage').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('leftMessage').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rightMessage">Right Message</label>
                    <textarea class="form-control" name="rightMessage" id="field_rightMessage"
                              formControlName="rightMessage"></textarea>
                    <div *ngIf="editForm.get('rightMessage').invalid && (editForm.get('rightMessage').dirty || editForm.get('rightMessage').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('rightMessage').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_voiceTrigger">Voice Trigger</label>
                    <textarea class="form-control" name="voiceTrigger" id="field_voiceTrigger"
                              formControlName="voiceTrigger"></textarea>
                    <div *ngIf="editForm.get('voiceTrigger').invalid && (editForm.get('voiceTrigger').dirty || editForm.get('voiceTrigger').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('voiceTrigger').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_voiceStartCutIn">Voice Start Cut In</label>
                    <textarea class="form-control" name="voiceStartCutIn" id="field_voiceStartCutIn"
                              formControlName="voiceStartCutIn"></textarea>
                    <div *ngIf="editForm.get('voiceStartCutIn').invalid && (editForm.get('voiceStartCutIn').dirty || editForm.get('voiceStartCutIn').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('voiceStartCutIn').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_kickerId">Kicker Id</label>
                    <input type="number" class="form-control" name="kickerId" id="field_kickerId"
                           formControlName="kickerId"/>
                    <div *ngIf="editForm.get('kickerId').invalid && (editForm.get('kickerId').dirty || editForm.get('kickerId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('kickerId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('kickerId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
