<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-m-target-formation-group-heading">Create or edit a M Target Formation Group</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!mTargetFormationGroup.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_groupId">Group Id</label>
                    <input type="number" class="form-control" name="groupId" id="field_groupId"
                           formControlName="groupId"/>
                    <div *ngIf="editForm.get('groupId').invalid && (editForm.get('groupId').dirty || editForm.get('groupId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('groupId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('groupId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_formationId">Formation Id</label>
                    <input type="number" class="form-control" name="formationId" id="field_formationId"
                           formControlName="formationId"/>
                    <div *ngIf="editForm.get('formationId').invalid && (editForm.get('formationId').dirty || editForm.get('formationId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('formationId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('formationId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_mformation">Mformation</label>
                    <select class="form-control" id="field_mformation" name="mformation" formControlName="mformationId">
                        <option *ngIf="!editForm.get('mformation').value" [ngValue]="null" selected></option>
                        <option [ngValue]="mFormationOption.id" *ngFor="let mFormationOption of mformations; trackBy: trackMFormationById">{{mFormationOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('mformation').invalid && (editForm.get('mformation').dirty || editForm.get('mformation').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('mformation').errors.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
