<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mDistributeCardParameterStep">
            <h2><span>M Distribute Card Parameter Step</span> {{mDistributeCardParameterStep.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Is Gk</span></dt>
                <dd>
                    <span>{{mDistributeCardParameterStep.isGk}}</span>
                </dd>
                <dt><span>Step</span></dt>
                <dd>
                    <span>{{mDistributeCardParameterStep.step}}</span>
                </dd>
                <dt><span>Param</span></dt>
                <dd>
                    <span>{{mDistributeCardParameterStep.param}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-distribute-card-parameter-step', mDistributeCardParameterStep.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
