<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mGachaRenditionSwipeIcon">
            <h2><span>M Gacha Rendition Swipe Icon</span> {{mGachaRenditionSwipeIcon.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Is Ssr</span></dt>
                <dd>
                    <span>{{mGachaRenditionSwipeIcon.isSsr}}</span>
                </dd>
                <dt><span>Is R Or Less</span></dt>
                <dd>
                    <span>{{mGachaRenditionSwipeIcon.isROrLess}}</span>
                </dd>
                <dt><span>Weight</span></dt>
                <dd>
                    <span>{{mGachaRenditionSwipeIcon.weight}}</span>
                </dd>
                <dt><span>Swipe Icon Prefab Name</span></dt>
                <dd>
                    <span>{{mGachaRenditionSwipeIcon.swipeIconPrefabName}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-gacha-rendition-swipe-icon', mGachaRenditionSwipeIcon.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
