<div>
    <h2 id="page-heading">
        <span>M Gacha Renditions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-m-gacha-rendition" [routerLink]="['/m-gacha-rendition/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new M Gacha Rendition
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mGachaRenditions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mainPrefabName"><span>Main Prefab Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="resultExpectedUpPrefabName"><span>Result Expected Up Prefab Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="resultQuestionPrefabName"><span>Result Question Prefab Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="soundSwitchEventName"><span>Sound Switch Event Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mGachaRendition of mGachaRenditions ;trackBy: trackId">
                <td><a [routerLink]="['/m-gacha-rendition', mGachaRendition.id, 'view' ]">{{mGachaRendition.id}}</a></td>
                <td>{{mGachaRendition.mainPrefabName}}</td>
                <td>{{mGachaRendition.resultExpectedUpPrefabName}}</td>
                <td>{{mGachaRendition.resultQuestionPrefabName}}</td>
                <td>{{mGachaRendition.soundSwitchEventName}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/m-gacha-rendition', mGachaRendition.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/m-gacha-rendition', mGachaRendition.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'm-gacha-rendition', { outlets: { popup: mGachaRendition.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mGachaRenditions && mGachaRenditions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
