<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mNpcCard">
            <h2><span>M Npc Card</span> {{mNpcCard.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Character Id</span></dt>
                <dd>
                    <span>{{mNpcCard.characterId}}</span>
                </dd>
                <dt><span>Short Name</span></dt>
                <dd>
                    <span>{{mNpcCard.shortName}}</span>
                </dd>
                <dt><span>Nick Name</span></dt>
                <dd>
                    <span>{{mNpcCard.nickName}}</span>
                </dd>
                <dt><span>Team Id</span></dt>
                <dd>
                    <span>{{mNpcCard.teamId}}</span>
                </dd>
                <dt><span>Nationality Id</span></dt>
                <dd>
                    <span>{{mNpcCard.nationalityId}}</span>
                </dd>
                <dt><span>Rarity</span></dt>
                <dd>
                    <span>{{mNpcCard.rarity}}</span>
                </dd>
                <dt><span>Attribute</span></dt>
                <dd>
                    <span>{{mNpcCard.attribute}}</span>
                </dd>
                <dt><span>Model Id</span></dt>
                <dd>
                    <span>{{mNpcCard.modelId}}</span>
                </dd>
                <dt><span>Level</span></dt>
                <dd>
                    <span>{{mNpcCard.level}}</span>
                </dd>
                <dt><span>Thumbnail Assets Id</span></dt>
                <dd>
                    <span>{{mNpcCard.thumbnailAssetsId}}</span>
                </dd>
                <dt><span>Card Illust Assets Id</span></dt>
                <dd>
                    <span>{{mNpcCard.cardIllustAssetsId}}</span>
                </dd>
                <dt><span>Playable Assets Id</span></dt>
                <dd>
                    <span>{{mNpcCard.playableAssetsId}}</span>
                </dd>
                <dt><span>Team Effect Id</span></dt>
                <dd>
                    <span>{{mNpcCard.teamEffectId}}</span>
                </dd>
                <dt><span>Team Effect Level</span></dt>
                <dd>
                    <span>{{mNpcCard.teamEffectLevel}}</span>
                </dd>
                <dt><span>Trigger Effect Id</span></dt>
                <dd>
                    <span>{{mNpcCard.triggerEffectId}}</span>
                </dd>
                <dt><span>Action 1 Id</span></dt>
                <dd>
                    <span>{{mNpcCard.action1Id}}</span>
                </dd>
                <dt><span>Action 1 Level</span></dt>
                <dd>
                    <span>{{mNpcCard.action1Level}}</span>
                </dd>
                <dt><span>Action 2 Id</span></dt>
                <dd>
                    <span>{{mNpcCard.action2Id}}</span>
                </dd>
                <dt><span>Action 2 Level</span></dt>
                <dd>
                    <span>{{mNpcCard.action2Level}}</span>
                </dd>
                <dt><span>Action 3 Id</span></dt>
                <dd>
                    <span>{{mNpcCard.action3Id}}</span>
                </dd>
                <dt><span>Action 3 Level</span></dt>
                <dd>
                    <span>{{mNpcCard.action3Level}}</span>
                </dd>
                <dt><span>Action 4 Id</span></dt>
                <dd>
                    <span>{{mNpcCard.action4Id}}</span>
                </dd>
                <dt><span>Action 4 Level</span></dt>
                <dd>
                    <span>{{mNpcCard.action4Level}}</span>
                </dd>
                <dt><span>Action 5 Id</span></dt>
                <dd>
                    <span>{{mNpcCard.action5Id}}</span>
                </dd>
                <dt><span>Action 5 Level</span></dt>
                <dd>
                    <span>{{mNpcCard.action5Level}}</span>
                </dd>
                <dt><span>Stamina</span></dt>
                <dd>
                    <span>{{mNpcCard.stamina}}</span>
                </dd>
                <dt><span>Dribble</span></dt>
                <dd>
                    <span>{{mNpcCard.dribble}}</span>
                </dd>
                <dt><span>Shoot</span></dt>
                <dd>
                    <span>{{mNpcCard.shoot}}</span>
                </dd>
                <dt><span>Ball Pass</span></dt>
                <dd>
                    <span>{{mNpcCard.ballPass}}</span>
                </dd>
                <dt><span>Tackle</span></dt>
                <dd>
                    <span>{{mNpcCard.tackle}}</span>
                </dd>
                <dt><span>Block</span></dt>
                <dd>
                    <span>{{mNpcCard.block}}</span>
                </dd>
                <dt><span>Intercept</span></dt>
                <dd>
                    <span>{{mNpcCard.intercept}}</span>
                </dd>
                <dt><span>Speed</span></dt>
                <dd>
                    <span>{{mNpcCard.speed}}</span>
                </dd>
                <dt><span>Power</span></dt>
                <dd>
                    <span>{{mNpcCard.power}}</span>
                </dd>
                <dt><span>Technique</span></dt>
                <dd>
                    <span>{{mNpcCard.technique}}</span>
                </dd>
                <dt><span>Punching</span></dt>
                <dd>
                    <span>{{mNpcCard.punching}}</span>
                </dd>
                <dt><span>Catching</span></dt>
                <dd>
                    <span>{{mNpcCard.catching}}</span>
                </dd>
                <dt><span>High Ball Bonus</span></dt>
                <dd>
                    <span>{{mNpcCard.highBallBonus}}</span>
                </dd>
                <dt><span>Low Ball Bonus</span></dt>
                <dd>
                    <span>{{mNpcCard.lowBallBonus}}</span>
                </dd>
                <dt><span>Personality Id</span></dt>
                <dd>
                    <span>{{mNpcCard.personalityId}}</span>
                </dd>
                <dt><span>Uniform No</span></dt>
                <dd>
                    <span>{{mNpcCard.uniformNo}}</span>
                </dd>
                <dt><span>Level Group Id</span></dt>
                <dd>
                    <span>{{mNpcCard.levelGroupId}}</span>
                </dd>
                <dt><span>Mcharacter</span></dt>
                <dd>
                    <div *ngIf="mNpcCard.mcharacterId">
                        <a [routerLink]="['/m-character', mNpcCard.mcharacterId, 'view']">{{mNpcCard.mcharacterId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-npc-card', mNpcCard.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
