<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mFullPowerPoint">
            <h2><span>M Full Power Point</span> {{mFullPowerPoint.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Point Type</span></dt>
                <dd>
                    <span>{{mFullPowerPoint.pointType}}</span>
                </dd>
                <dt><span>Value</span></dt>
                <dd>
                    <span>{{mFullPowerPoint.value}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-full-power-point', mFullPowerPoint.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
