<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mGachaRenditionTradeSign">
            <h2><span>M Gacha Rendition Trade Sign</span> {{mGachaRenditionTradeSign.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Rendition Id</span></dt>
                <dd>
                    <span>{{mGachaRenditionTradeSign.renditionId}}</span>
                </dd>
                <dt><span>Is Ssr</span></dt>
                <dd>
                    <span>{{mGachaRenditionTradeSign.isSsr}}</span>
                </dd>
                <dt><span>Weight</span></dt>
                <dd>
                    <span>{{mGachaRenditionTradeSign.weight}}</span>
                </dd>
                <dt><span>Sign Texture Name</span></dt>
                <dd>
                    <span>{{mGachaRenditionTradeSign.signTextureName}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-gacha-rendition-trade-sign', mGachaRenditionTradeSign.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
