<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mDeckCondition">
            <h2><span>M Deck Condition</span> {{mDeckCondition.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Target Formation Group Id</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetFormationGroupId}}</span>
                </dd>
                <dt><span>Target Character Group Min Id</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetCharacterGroupMinId}}</span>
                </dd>
                <dt><span>Target Character Group Max Id</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetCharacterGroupMaxId}}</span>
                </dd>
                <dt><span>Target Playable Card Group Min Id</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetPlayableCardGroupMinId}}</span>
                </dd>
                <dt><span>Target Playable Card Group Max Id</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetPlayableCardGroupMaxId}}</span>
                </dd>
                <dt><span>Target Rarity Group Id</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetRarityGroupId}}</span>
                </dd>
                <dt><span>Target Attribute</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetAttribute}}</span>
                </dd>
                <dt><span>Target Nationality Group Min Id</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetNationalityGroupMinId}}</span>
                </dd>
                <dt><span>Target Nationality Group Max Id</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetNationalityGroupMaxId}}</span>
                </dd>
                <dt><span>Target Team Group Min Id</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetTeamGroupMinId}}</span>
                </dd>
                <dt><span>Target Team Group Max Id</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetTeamGroupMaxId}}</span>
                </dd>
                <dt><span>Target Action Group Min Id</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetActionGroupMinId}}</span>
                </dd>
                <dt><span>Target Action Group Max Id</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetActionGroupMaxId}}</span>
                </dd>
                <dt><span>Target Trigger Effect Group Min Id</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetTriggerEffectGroupMinId}}</span>
                </dd>
                <dt><span>Target Trigger Effect Group Max Id</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetTriggerEffectGroupMaxId}}</span>
                </dd>
                <dt><span>Target Character Min Count</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetCharacterMinCount}}</span>
                </dd>
                <dt><span>Target Character Max Count</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetCharacterMaxCount}}</span>
                </dd>
                <dt><span>Target Playable Card Min Count</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetPlayableCardMinCount}}</span>
                </dd>
                <dt><span>Target Playable Card Max Count</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetPlayableCardMaxCount}}</span>
                </dd>
                <dt><span>Target Rarity Max Count</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetRarityMaxCount}}</span>
                </dd>
                <dt><span>Target Attribute Min Count</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetAttributeMinCount}}</span>
                </dd>
                <dt><span>Target Nationality Min Count</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetNationalityMinCount}}</span>
                </dd>
                <dt><span>Target Nationality Max Count</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetNationalityMaxCount}}</span>
                </dd>
                <dt><span>Target Team Min Count</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetTeamMinCount}}</span>
                </dd>
                <dt><span>Target Team Max Count</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetTeamMaxCount}}</span>
                </dd>
                <dt><span>Target Action Min Count</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetActionMinCount}}</span>
                </dd>
                <dt><span>Target Action Max Count</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetActionMaxCount}}</span>
                </dd>
                <dt><span>Target Trigger Effect Min Count</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetTriggerEffectMinCount}}</span>
                </dd>
                <dt><span>Target Trigger Effect Max Count</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetTriggerEffectMaxCount}}</span>
                </dd>
                <dt><span>Target Character Is Starting Min</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetCharacterIsStartingMin}}</span>
                </dd>
                <dt><span>Target Character Is Starting Max</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetCharacterIsStartingMax}}</span>
                </dd>
                <dt><span>Target Playable Card Is Starting Min</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetPlayableCardIsStartingMin}}</span>
                </dd>
                <dt><span>Target Playable Card Is Starting Max</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetPlayableCardIsStartingMax}}</span>
                </dd>
                <dt><span>Target Rarity Is Starting</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetRarityIsStarting}}</span>
                </dd>
                <dt><span>Target Attribute Is Starting</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetAttributeIsStarting}}</span>
                </dd>
                <dt><span>Target Nationality Is Starting Min</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetNationalityIsStartingMin}}</span>
                </dd>
                <dt><span>Target Nationality Is Starting Max</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetNationalityIsStartingMax}}</span>
                </dd>
                <dt><span>Target Team Is Starting Min</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetTeamIsStartingMin}}</span>
                </dd>
                <dt><span>Target Team Is Starting Max</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetTeamIsStartingMax}}</span>
                </dd>
                <dt><span>Target Action Is Starting Min</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetActionIsStartingMin}}</span>
                </dd>
                <dt><span>Target Action Is Starting Max</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetActionIsStartingMax}}</span>
                </dd>
                <dt><span>Target Trigger Effect Is Starting Min</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetTriggerEffectIsStartingMin}}</span>
                </dd>
                <dt><span>Target Trigger Effect Is Starting Max</span></dt>
                <dd>
                    <span>{{mDeckCondition.targetTriggerEffectIsStartingMax}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-deck-condition', mDeckCondition.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
