<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mSellCardMedal">
            <h2><span>M Sell Card Medal</span> {{mSellCardMedal.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Medal Id</span></dt>
                <dd>
                    <span>{{mSellCardMedal.medalId}}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{mSellCardMedal.amount}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-sell-card-medal', mSellCardMedal.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
