<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mMarathonAchievementReward">
            <h2><span>M Marathon Achievement Reward</span> {{mMarathonAchievementReward.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Event Id</span></dt>
                <dd>
                    <span>{{mMarathonAchievementReward.eventId}}</span>
                </dd>
                <dt><span>Event Point</span></dt>
                <dd>
                    <span>{{mMarathonAchievementReward.eventPoint}}</span>
                </dd>
                <dt><span>Reward Group Id</span></dt>
                <dd>
                    <span>{{mMarathonAchievementReward.rewardGroupId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-marathon-achievement-reward', mMarathonAchievementReward.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
