<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mTicketQuestStage">
            <h2><span>M Ticket Quest Stage</span> {{mTicketQuestStage.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>World Id</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.worldId}}</span>
                </dd>
                <dt><span>Number</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.number}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.name}}</span>
                </dd>
                <dt><span>Ticket Id</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.ticketId}}</span>
                </dd>
                <dt><span>Ticket Amount</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.ticketAmount}}</span>
                </dd>
                <dt><span>Image Path</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.imagePath}}</span>
                </dd>
                <dt><span>Character Thumbnail Path</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.characterThumbnailPath}}</span>
                </dd>
                <dt><span>Difficulty</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.difficulty}}</span>
                </dd>
                <dt><span>Stage Unlock Pattern</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.stageUnlockPattern}}</span>
                </dd>
                <dt><span>Story Only</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.storyOnly}}</span>
                </dd>
                <dt><span>First Half Npc Deck Id</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.firstHalfNpcDeckId}}</span>
                </dd>
                <dt><span>First Half Environment Id</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.firstHalfEnvironmentId}}</span>
                </dd>
                <dt><span>Second Half Npc Deck Id</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.secondHalfNpcDeckId}}</span>
                </dd>
                <dt><span>Second Half Environment Id</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.secondHalfEnvironmentId}}</span>
                </dd>
                <dt><span>Extra First Half Npc Deck Id</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.extraFirstHalfNpcDeckId}}</span>
                </dd>
                <dt><span>Extra Second Half Npc Deck Id</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.extraSecondHalfNpcDeckId}}</span>
                </dd>
                <dt><span>Consume Ap</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.consumeAp}}</span>
                </dd>
                <dt><span>Kick Off Type</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.kickOffType}}</span>
                </dd>
                <dt><span>Match Minute</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.matchMinute}}</span>
                </dd>
                <dt><span>Enable Extra</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.enableExtra}}</span>
                </dd>
                <dt><span>Enable Pk</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.enablePk}}</span>
                </dd>
                <dt><span>Ai Level</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.aiLevel}}</span>
                </dd>
                <dt><span>Start At Second Half</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.startAtSecondHalf}}</span>
                </dd>
                <dt><span>Start Score</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.startScore}}</span>
                </dd>
                <dt><span>Start Score Opponent</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.startScoreOpponent}}</span>
                </dd>
                <dt><span>Condition Id</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.conditionId}}</span>
                </dd>
                <dt><span>Option Id</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.optionId}}</span>
                </dd>
                <dt><span>Deck Condition Id</span></dt>
                <dd>
                    <span>{{mTicketQuestStage.deckConditionId}}</span>
                </dd>
                <dt><span>Mticketquestworld</span></dt>
                <dd>
                    <div *ngIf="mTicketQuestStage.mticketquestworldId">
                        <a [routerLink]="['/m-ticket-quest-world', mTicketQuestStage.mticketquestworldId, 'view']">{{mTicketQuestStage.mticketquestworldId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-ticket-quest-stage', mTicketQuestStage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
