<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-m-model-uniform-up-heading">Create or edit a M Model Uniform Up</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!mModelUniformUp.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_uniformUpId">Uniform Up Id</label>
                    <input type="number" class="form-control" name="uniformUpId" id="field_uniformUpId"
                           formControlName="uniformUpId"/>
                    <div *ngIf="editForm.get('uniformUpId').invalid && (editForm.get('uniformUpId').dirty || editForm.get('uniformUpId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('uniformUpId').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('uniformUpId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_defaultDressingType">Default Dressing Type</label>
                    <input type="number" class="form-control" name="defaultDressingType" id="field_defaultDressingType"
                           formControlName="defaultDressingType"/>
                    <div *ngIf="editForm.get('defaultDressingType').invalid && (editForm.get('defaultDressingType').dirty || editForm.get('defaultDressingType').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('defaultDressingType').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('defaultDressingType')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_uniformModel">Uniform Model</label>
                    <input type="number" class="form-control" name="uniformModel" id="field_uniformModel"
                           formControlName="uniformModel"/>
                    <div *ngIf="editForm.get('uniformModel').invalid && (editForm.get('uniformModel').dirty || editForm.get('uniformModel').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('uniformModel').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('uniformModel')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_uniformTexture">Uniform Texture</label>
                    <input type="number" class="form-control" name="uniformTexture" id="field_uniformTexture"
                           formControlName="uniformTexture"/>
                    <div *ngIf="editForm.get('uniformTexture').invalid && (editForm.get('uniformTexture').dirty || editForm.get('uniformTexture').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('uniformTexture').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('uniformTexture')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_uniformNoTexture">Uniform No Texture</label>
                    <input type="number" class="form-control" name="uniformNoTexture" id="field_uniformNoTexture"
                           formControlName="uniformNoTexture"/>
                    <div *ngIf="editForm.get('uniformNoTexture').invalid && (editForm.get('uniformNoTexture').dirty || editForm.get('uniformNoTexture').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('uniformNoTexture').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('uniformNoTexture')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_defaultColor">Default Color</label>
                    <textarea class="form-control" name="defaultColor" id="field_defaultColor"
                              formControlName="defaultColor"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_uniformNoColor">Uniform No Color</label>
                    <textarea class="form-control" name="uniformNoColor" id="field_uniformNoColor"
                              formControlName="uniformNoColor"></textarea>
                    <div *ngIf="editForm.get('uniformNoColor').invalid && (editForm.get('uniformNoColor').dirty || editForm.get('uniformNoColor').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('uniformNoColor').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_numberChest">Number Chest</label>
                    <input type="number" class="form-control" name="numberChest" id="field_numberChest"
                           formControlName="numberChest"/>
                    <div *ngIf="editForm.get('numberChest').invalid && (editForm.get('numberChest').dirty || editForm.get('numberChest').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numberChest').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('numberChest')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_numberBelly">Number Belly</label>
                    <input type="number" class="form-control" name="numberBelly" id="field_numberBelly"
                           formControlName="numberBelly"/>
                    <div *ngIf="editForm.get('numberBelly').invalid && (editForm.get('numberBelly').dirty || editForm.get('numberBelly').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numberBelly').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('numberBelly')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_numberBack">Number Back</label>
                    <input type="number" class="form-control" name="numberBack" id="field_numberBack"
                           formControlName="numberBack"/>
                    <div *ngIf="editForm.get('numberBack').invalid && (editForm.get('numberBack').dirty || editForm.get('numberBack').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numberBack').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('numberBack')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_uniformNoPositionX">Uniform No Position X</label>
                    <input type="number" class="form-control" name="uniformNoPositionX" id="field_uniformNoPositionX"
                           formControlName="uniformNoPositionX"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_uniformNoPositionY">Uniform No Position Y</label>
                    <input type="number" class="form-control" name="uniformNoPositionY" id="field_uniformNoPositionY"
                           formControlName="uniformNoPositionY"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
