<div>
    <h2 id="page-heading">
        <span>M Marathon Quest Stage Rewards</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-m-marathon-quest-stage-reward" [routerLink]="['/m-marathon-quest-stage-reward/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new M Marathon Quest Stage Reward
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mMarathonQuestStageRewards">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stageId"><span>Stage Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="exp"><span>Exp</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="coin"><span>Coin</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="guildPoint"><span>Guild Point</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="clearRewardGroupId"><span>Clear Reward Group Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="clearRewardWeightId"><span>Clear Reward Weight Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="achievementRewardGroupId"><span>Achievement Reward Group Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="coopGroupId"><span>Coop Group Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="specialRewardGroupId"><span>Special Reward Group Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="specialRewardAmount"><span>Special Reward Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="goalRewardGroupId"><span>Goal Reward Group Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mMarathonQuestStageReward of mMarathonQuestStageRewards ;trackBy: trackId">
                <td><a [routerLink]="['/m-marathon-quest-stage-reward', mMarathonQuestStageReward.id, 'view' ]">{{mMarathonQuestStageReward.id}}</a></td>
                <td>{{mMarathonQuestStageReward.stageId}}</td>
                <td>{{mMarathonQuestStageReward.exp}}</td>
                <td>{{mMarathonQuestStageReward.coin}}</td>
                <td>{{mMarathonQuestStageReward.guildPoint}}</td>
                <td>{{mMarathonQuestStageReward.clearRewardGroupId}}</td>
                <td>{{mMarathonQuestStageReward.clearRewardWeightId}}</td>
                <td>{{mMarathonQuestStageReward.achievementRewardGroupId}}</td>
                <td>{{mMarathonQuestStageReward.coopGroupId}}</td>
                <td>{{mMarathonQuestStageReward.specialRewardGroupId}}</td>
                <td>{{mMarathonQuestStageReward.specialRewardAmount}}</td>
                <td>{{mMarathonQuestStageReward.goalRewardGroupId}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/m-marathon-quest-stage-reward', mMarathonQuestStageReward.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/m-marathon-quest-stage-reward', mMarathonQuestStageReward.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'm-marathon-quest-stage-reward', { outlets: { popup: mMarathonQuestStageReward.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mMarathonQuestStageRewards && mMarathonQuestStageRewards.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
