<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mTutorialMessage">
            <h2><span>M Tutorial Message</span> {{mTutorialMessage.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Step</span></dt>
                <dd>
                    <span>{{mTutorialMessage.step}}</span>
                </dd>
                <dt><span>Order Num</span></dt>
                <dd>
                    <span>{{mTutorialMessage.orderNum}}</span>
                </dd>
                <dt><span>Position</span></dt>
                <dd>
                    <span>{{mTutorialMessage.position}}</span>
                </dd>
                <dt><span>Message</span></dt>
                <dd>
                    <span>{{mTutorialMessage.message}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-tutorial-message', mTutorialMessage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
