<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mAdventQuestStageReward">
            <h2><span>M Advent Quest Stage Reward</span> {{mAdventQuestStageReward.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Stage Id</span></dt>
                <dd>
                    <span>{{mAdventQuestStageReward.stageId}}</span>
                </dd>
                <dt><span>Exp</span></dt>
                <dd>
                    <span>{{mAdventQuestStageReward.exp}}</span>
                </dd>
                <dt><span>Coin</span></dt>
                <dd>
                    <span>{{mAdventQuestStageReward.coin}}</span>
                </dd>
                <dt><span>Guild Point</span></dt>
                <dd>
                    <span>{{mAdventQuestStageReward.guildPoint}}</span>
                </dd>
                <dt><span>Clear Reward Group Id</span></dt>
                <dd>
                    <span>{{mAdventQuestStageReward.clearRewardGroupId}}</span>
                </dd>
                <dt><span>Clear Reward Weight Id</span></dt>
                <dd>
                    <span>{{mAdventQuestStageReward.clearRewardWeightId}}</span>
                </dd>
                <dt><span>Achievement Reward Group Id</span></dt>
                <dd>
                    <span>{{mAdventQuestStageReward.achievementRewardGroupId}}</span>
                </dd>
                <dt><span>Coop Group Id</span></dt>
                <dd>
                    <span>{{mAdventQuestStageReward.coopGroupId}}</span>
                </dd>
                <dt><span>Special Reward Group Id</span></dt>
                <dd>
                    <span>{{mAdventQuestStageReward.specialRewardGroupId}}</span>
                </dd>
                <dt><span>Special Reward Amount</span></dt>
                <dd>
                    <span>{{mAdventQuestStageReward.specialRewardAmount}}</span>
                </dd>
                <dt><span>Goal Reward Group Id</span></dt>
                <dd>
                    <span>{{mAdventQuestStageReward.goalRewardGroupId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/m-advent-quest-stage-reward', mAdventQuestStageReward.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
