<div>
    <h2 id="page-heading">
        <span>M Announce Texts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-m-announce-text" [routerLink]="['/m-announce-text/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new M Announce Text
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="mAnnounceTexts?.length === 0">
        <span>No mAnnounceTexts found</span>
    </div>
    <div class="table-responsive" *ngIf="mAnnounceTexts?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="groupId"><span>Group Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="seqNo"><span>Seq No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="normalAnnounce"><span>Normal Announce</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="criticalSAnnounce"><span>Critical S Announce</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="criticalMAnnounce"><span>Critical M Announce</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="criticalLAnnounce"><span>Critical L Announce</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="delayTime"><span>Delay Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="continueTime"><span>Continue Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mAnnounceText of mAnnounceTexts ;trackBy: trackId">
                <td><a [routerLink]="['/m-announce-text', mAnnounceText.id, 'view' ]">{{mAnnounceText.id}}</a></td>
                <td>{{mAnnounceText.groupId}}</td>
                <td>{{mAnnounceText.seqNo}}</td>
                <td>{{mAnnounceText.normalAnnounce}}</td>
                <td>{{mAnnounceText.criticalSAnnounce}}</td>
                <td>{{mAnnounceText.criticalMAnnounce}}</td>
                <td>{{mAnnounceText.criticalLAnnounce}}</td>
                <td>{{mAnnounceText.delayTime}}</td>
                <td>{{mAnnounceText.continueTime}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/m-announce-text', mAnnounceText.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/m-announce-text', mAnnounceText.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'm-announce-text', { outlets: { popup: mAnnounceText.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="mAnnounceTexts?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
