<div>
    <h2 id="page-heading">
        <span>M Npc Decks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-m-npc-deck" [routerLink]="['/m-npc-deck/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new M Npc Deck
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mNpcDecks">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="teamName"><span>Team Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="uniformBottomFp"><span>Uniform Bottom Fp</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="uniformUpFp"><span>Uniform Up Fp</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="uniformBottomGk"><span>Uniform Bottom Gk</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="uniformUpGk"><span>Uniform Up Gk</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="formationId"><span>Formation Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="captainCardId"><span>Captain Card Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="teamEffect1CardId"><span>Team Effect 1 Card Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="teamEffect2CardId"><span>Team Effect 2 Card Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="teamEffect3CardId"><span>Team Effect 3 Card Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="npcCardId1"><span>Npc Card Id 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="npcCardId2"><span>Npc Card Id 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="npcCardId3"><span>Npc Card Id 3</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="npcCardId4"><span>Npc Card Id 4</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="npcCardId5"><span>Npc Card Id 5</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="npcCardId6"><span>Npc Card Id 6</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="npcCardId7"><span>Npc Card Id 7</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="npcCardId8"><span>Npc Card Id 8</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="npcCardId9"><span>Npc Card Id 9</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="npcCardId10"><span>Npc Card Id 10</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="npcCardId11"><span>Npc Card Id 11</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tick"><span>Tick</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idId"><span>Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mNpcDeck of mNpcDecks ;trackBy: trackId">
                <td><a [routerLink]="['/m-npc-deck', mNpcDeck.id, 'view' ]">{{mNpcDeck.id}}</a></td>
                <td>{{mNpcDeck.teamName}}</td>
                <td>{{mNpcDeck.uniformBottomFp}}</td>
                <td>{{mNpcDeck.uniformUpFp}}</td>
                <td>{{mNpcDeck.uniformBottomGk}}</td>
                <td>{{mNpcDeck.uniformUpGk}}</td>
                <td>{{mNpcDeck.formationId}}</td>
                <td>{{mNpcDeck.captainCardId}}</td>
                <td>{{mNpcDeck.teamEffect1CardId}}</td>
                <td>{{mNpcDeck.teamEffect2CardId}}</td>
                <td>{{mNpcDeck.teamEffect3CardId}}</td>
                <td>{{mNpcDeck.npcCardId1}}</td>
                <td>{{mNpcDeck.npcCardId2}}</td>
                <td>{{mNpcDeck.npcCardId3}}</td>
                <td>{{mNpcDeck.npcCardId4}}</td>
                <td>{{mNpcDeck.npcCardId5}}</td>
                <td>{{mNpcDeck.npcCardId6}}</td>
                <td>{{mNpcDeck.npcCardId7}}</td>
                <td>{{mNpcDeck.npcCardId8}}</td>
                <td>{{mNpcDeck.npcCardId9}}</td>
                <td>{{mNpcDeck.npcCardId10}}</td>
                <td>{{mNpcDeck.npcCardId11}}</td>
                <td>{{mNpcDeck.tick}}</td>
                <td>
                    <div *ngIf="mNpcDeck.idId">
                        <a [routerLink]="['../m-formation', mNpcDeck.idId , 'view' ]" >{{mNpcDeck.idId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/m-npc-deck', mNpcDeck.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/m-npc-deck', mNpcDeck.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'm-npc-deck', { outlets: { popup: mNpcDeck.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mNpcDecks && mNpcDecks.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
