<div>
    <h2 id="page-heading">
        <span>M Formations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-m-formation" [routerLink]="['/m-formation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new M Formation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mFormations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="effectValue"><span>Effect Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="effectProbability"><span>Effect Probability</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="formationArrangementFw"><span>Formation Arrangement Fw</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="formationArrangementOmf"><span>Formation Arrangement Omf</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="formationArrangementDmf"><span>Formation Arrangement Dmf</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="formationArrangementDf"><span>Formation Arrangement Df</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="effectId"><span>Effect Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span>Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shortDescription"><span>Short Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="thumbnailAssetName"><span>Thumbnail Asset Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startingUniformNos"><span>Starting Uniform Nos</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="subUniformNos"><span>Sub Uniform Nos</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="exType"><span>Ex Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="matchFormationId"><span>Match Formation Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mpassiveeffectrangeId"><span>Mpassiveeffectrange</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mFormation of mFormations ;trackBy: trackId">
                <td><a [routerLink]="['/m-formation', mFormation.id, 'view' ]">{{mFormation.id}}</a></td>
                <td>{{mFormation.effectValue}}</td>
                <td>{{mFormation.effectProbability}}</td>
                <td>{{mFormation.formationArrangementFw}}</td>
                <td>{{mFormation.formationArrangementOmf}}</td>
                <td>{{mFormation.formationArrangementDmf}}</td>
                <td>{{mFormation.formationArrangementDf}}</td>
                <td>{{mFormation.effectId}}</td>
                <td>{{mFormation.description}}</td>
                <td>{{mFormation.shortDescription}}</td>
                <td>{{mFormation.name}}</td>
                <td>{{mFormation.thumbnailAssetName}}</td>
                <td>{{mFormation.startingUniformNos}}</td>
                <td>{{mFormation.subUniformNos}}</td>
                <td>{{mFormation.exType}}</td>
                <td>{{mFormation.matchFormationId}}</td>
                <td>
                    <div *ngIf="mFormation.mpassiveeffectrangeId">
                        <a [routerLink]="['../m-passive-effect-range', mFormation.mpassiveeffectrangeId , 'view' ]" >{{mFormation.mpassiveeffectrangeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/m-formation', mFormation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/m-formation', mFormation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'm-formation', { outlets: { popup: mFormation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mFormations && mFormations.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
