<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-m-story-resource-mapping-heading">Create or edit a M Story Resource Mapping</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!mStoryResourceMapping.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lang">Lang</label>
                    <input type="number" class="form-control" name="lang" id="field_lang"
                           formControlName="lang"/>
                    <div *ngIf="editForm.get('lang').invalid && (editForm.get('lang').dirty || editForm.get('lang').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lang').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('lang')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_scriptName">Script Name</label>
                    <textarea class="form-control" name="scriptName" id="field_scriptName"
                              formControlName="scriptName"></textarea>
                    <div *ngIf="editForm.get('scriptName').invalid && (editForm.get('scriptName').dirty || editForm.get('scriptName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('scriptName').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ids">Ids</label>
                    <textarea class="form-control" name="ids" id="field_ids"
                              formControlName="ids"></textarea>
                    <div *ngIf="editForm.get('ids').invalid && (editForm.get('ids').dirty || editForm.get('ids').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ids').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
